Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

fix(datadog): mount pointerdir on agent container for Autopilot/GDC when logs disabled
  charts/datadog/templates/_container-agent.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
Due: e2e_deps, e2e

fix(datadog): gate WorkloadAllowlist violations for GKE Autopilot and GDC
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
Due: e2e_deps, e2e

test(datadog): harden GKE Autopilot and GDC constraint tests
  test/datadog/gke_autopilot_allowlistedv2workload_test.go
  test/datadog/gke_autopilot_workloadallowlist_test.go
  test/datadog/gke_gdc_test.go
Due: e2e_deps, e2e

test(datadog): fix misleading comment in AllowlistedV2Workload test
  test/datadog/gke_autopilot_allowlistedv2workload_test.go
Due: e2e_deps, e2e

fix(datadog): simplify pointerdir/datadogrun gating for Autopilot and GDC
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_logs.yaml
  test/datadog/baseline/values/gke_autopilot_workloadallowlist_logs.yaml
Due: e2e_deps, e2e

fix(e2e): preserve nginx workload during KSM CCR stack update
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

fix(e2e): increase KSM check EventuallyWithT timeout from 1m to 5m
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

fix(e2e): use CollectT in verifyAPILogs and verifyKSMCheck
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

fix(e2e): use CollectT in Kubelet check EventuallyWithT assertions
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

fix(e2e): bump test-infra-definitions to fix fakeintake GCP Ubuntu image
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

fix(e2e): reorder KSM test before autodiscovery flush and remove ineffective nginx fix
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

Fix Helm template logic for persistentVolumeClaimRetentionPolicy: ensure correct spec field mapping and default handling.
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/statefulset.yaml
Due: none

fix(e2e): allow KSM check WARNING status for Autopilot node readiness
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

fix: gate persistentVolumeClaimRetentionPolicy on explicit value, remove incorrect PVC spec placement
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/templates/statefulset.yaml
Due: none

fix(e2e): deploy nginx via client-go to avoid Pulumi grpc error on Autopilot
  .gitlab-ci.yml
  test/e2e/datadog/e2e_gke_autopilot_test.go
  test/e2e/datadog/e2e_gke_test.go
  test/e2e/datadog/e2e_k8ssuite_test.go
  test/e2e/datadog/manifests/autodiscovery-annotation.yaml
Due: e2e_deps, e2e

fix(e2e): bump test-infra-definitions to include ClusterIdentifier fix
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

add k8s event collection options (#2485)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_apiserver_config.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

Extend registry migration auto mode to EU1 (datadoghq.eu, apm disabled)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Lint fix
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Extend registry migration auto mode to EU1 (datadoghq.eu, apm disabled) (#2477)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

fix(e2e): bump test-infra-definitions to include WithoutWorkloadAllowlist
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

typo
  charts/datadog/README.md
Due: e2e

Add log volume to fhp (#2461)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
Due: e2e_deps, e2e

docs(datadog): add review guidance for redundancy, baseline checks, scope, and team approval
  .github/PULL_REQUEST_TEMPLATE.md
  charts/datadog/docs/internal/agent-review-guide.md
Due: none

Apply suggestions from code review
  .github/workflows/go-test-datadog.yaml
Due: none

Add additional permissions to cluster agent RBAC for ipvpa
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: none

Fix pvc retention policy logic (#2492)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/statefulset.yaml
Due: none

update CHANGELOG.md
  charts/datadog/CHANGELOG.md
Due: e2e

docs(datadog): add AI PR review guides (#2487)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  .github/workflows/go-test-datadog.yaml
  .github/workflows/no-ci.yaml
  AGENTS.md
  charts/datadog/docs/internal/agent-review-guide.md
  charts/datadog/docs/internal/gke-constraints-review-guide.md
Due: none

Add validate-chart-version CI job to check version, changelog, and README on PRs
  .github/scripts/bump-chart-version.js
  .github/scripts/chart-version-utils.js
  .github/scripts/validate-chart-version.js
  .github/workflows/bump-chart-version.yaml
Due: none

Extend registry migration auto mode to all EU1 (datadoghq.eu) users
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Extend registry migration auto mode to all EU1 (datadoghq.eu) users (#2491)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Add changelog, bump minor version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

Add IPC env vars to core agent when full host profiler is enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Due: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
