Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

update baseline
  charts/datadog/config_map-values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

mo-martin/automount service account token (#2629)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

Don't add ddai arg for operator >=1.27
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Don't add ddai arg for operator >=1.27 (#2630)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Adding PROXY and NOPROXY options
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Changing to correct template
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: e2e_deps, e2e

Removing formatting change in unchanged file
  charts/datadog/values.schema.json
Due: e2e

[autoscaling] expand workload autoscaling RBAC for cluster profiles
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

version bump
  charts/observability-pipelines-worker/Chart.yaml
Due: none

[autoscaling] expand workload autoscaling RBAC for cluster profiles (#2623)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

Update to use a comma delimiter
  charts/observability-pipelines-worker/templates/_pod.tpl
Due: none

Updating doc as well
  charts/observability-pipelines-worker/values.yaml
Due: none

Adding PROXY and NOPROXY options to Observability Pipelines (#2578)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: none

Update chaingaurd
  .github/chainguard/self.operatorrelease-prod.sts.yaml
  .github/chainguard/self.operatorrelease-staging.sts.yaml
Due: none

bump perms to create branches
  .github/chainguard/self.operatorrelease-prod.sts.yaml
  .github/chainguard/self.operatorrelease-staging.sts.yaml
Due: none

Rename the APM registry allow list setting.
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog-csi-driver/baseline_test.go
  test/datadog/apm_instrumentation_test.go
Due: e2e_deps, e2e

Rename to apmRegistryAllowList.
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog-csi-driver/baseline_test.go
  test/datadog/apm_instrumentation_test.go
Due: e2e_deps, e2e

[datadog/cluster autoscaling] add spot scheduling RBAC
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog/cluster autoscaling] add spot scheduling RBAC (#2621)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update README version badge for 3.208.1
  charts/datadog/README.md
Due: e2e

Update changelog and release new chart version for PL 1.67.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/ingress/intake.yaml
  charts/cloudprem/templates/intake-configmap.yaml
  charts/cloudprem/templates/intake-deployment.yaml
  charts/cloudprem/templates/intake-hpa.yaml
  charts/cloudprem/templates/intake-pdb.yaml
  charts/cloudprem/templates/intake-service.yaml
  charts/cloudprem/values.yaml
Due: none

Update changelog and release new chart version for PL 1.67.0 (#2632)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

Update CloudPrem Helm chart (#2633)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/ingress/intake.yaml
  charts/cloudprem/templates/intake-configmap.yaml
  charts/cloudprem/templates/intake-deployment.yaml
  charts/cloudprem/templates/intake-hpa.yaml
  charts/cloudprem/templates/intake-pdb.yaml
  charts/cloudprem/templates/intake-service.yaml
  charts/cloudprem/values.yaml
Due: none

[synthetics-private-location] Mount emptyDir at /run for read-only-root clusters
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
Due: none

Remove bogus setsidaccept4 from system-probe seccomp profile
  charts/datadog/templates/system-probe-configmap.yaml
Due: none

Remove operatorrelease chaingaurd
  .github/chainguard/self.operatorrelease-prod.sts.yaml
  .github/chainguard/self.operatorrelease-staging.sts.yaml
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
