Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

Fix should-enable-data-plane version check and regenerate README
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
Due: e2e

Move version gate inside dataPlane.enabled block in should-enable-data-plane
  charts/datadog/templates/_helpers.tpl
Due: none

seccomp check for pre-release kube versions
  charts/datadog/templates/_helpers.tpl
Due: none

Use standard Agent image for ADP container (#2607)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent-data-plane.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
Due: e2e_deps, e2e

fix(observability-pipelines-worker): use tcpSocket probes for gRPC API on 8686
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/ci/all-values.yaml
  charts/observability-pipelines-worker/values.yaml
Due: none

fix(observability-pipelines-worker): inject default tcpSocket probe in template
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: none

fix(observability-pipelines-worker): strip legacy httpGet :8686/health on --reuse-values
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/templates/_pod.tpl
Due: none

[observability-pipelines-worker] fix livenessProbe for gRPC API on :8686 (#2610)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/ci/all-values.yaml
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: none

ci: prevent install-chart from being silently skipped on lint-chart failure
  .github/workflows/ci.yaml
Due: none

ci: prevent install-chart from being silently skipped on lint-chart failure (#2611)
  .github/workflows/ci.yaml
Due: none

Update fips.image.tag for the fips-proxy sidecar to release version 1.1.23
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog/datadog-crds] Update from operator 1.26.0-rc.3
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
Due: none

crdAnnotations -> crd.annotations
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogdashboards_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
Due: none

remove tab
  charts/datadog-crds/values.yaml
Due: none

fix typo crd -> crds
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogcsidrivers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogdashboards_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalerclusterprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
Due: none

[datadog/datadog-crds] Update from operator 1.26.0-rc.3 (#2613)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

[datadog/datadog-operator] Update from operator 1.26.0-rc.3
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog/datadog-operator] Update from operator 1.26.0-rc.3 (#2614)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update CHANGELOG.md
  charts/datadog/CHANGELOG.md
Due: e2e

Update README.md
  charts/datadog/README.md
Due: e2e

[CSPM] add new configuration to run CSPM within system-probe
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

Add baseline files for GKE Autopilot and GDC
  test/datadog/baseline/manifests/gdc_compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_compliance_run_in_system_probe.yaml
  test/datadog/baseline/values/gdc_compliance_run_in_system_probe.yaml
  test/datadog/baseline/values/gke_autopilot_compliance_run_in_system_probe.yaml
Due: e2e_deps, e2e

Bump chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

Add unit tests
  test/datadog/baseline/manifests/compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_cws_in_security_agent.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_only.yaml
  test/datadog/baseline/values/compliance_run_in_system_probe.yaml
  test/datadog/baseline/values/compliance_run_in_system_probe_cws_in_security_agent.yaml
  test/datadog/baseline/values/compliance_run_in_system_probe_only.yaml
Due: e2e_deps, e2e

Update tests
  test/datadog/baseline/manifests/compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_cws_in_security_agent.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_only.yaml
Due: e2e_deps, e2e

Applied comment
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
Due: none

Do not enable compliance in both security-agent and system-probe
  charts/datadog/templates/_container-security-agent.yaml
Due: none

Update tests
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_logs.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

Start system-probe if compliance is running and runInSystemProbe is set
  charts/datadog/templates/_helpers.tpl
Due: none

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
Due: none

Update CloudPrem Helm chart (#2615)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
Due: none

update image urls to druids equivalent
  charts/cloudprem/Chart.yaml
  charts/datadog-crds/Chart.yaml
  charts/datadog-operator/Chart.yaml
  charts/datadog/Chart.yaml
  charts/extended-daemon-set/Chart.yaml
  charts/observability-pipelines-worker/Chart.yaml
  charts/private-action-runner/Chart.yaml
  charts/synthetics-private-location/Chart.yaml
Due: e2e_deps, e2e

update test fixture
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Update chart version
  charts/datadog-crds/Chart.yaml
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
