Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

add prometheus helm repo
  .github/workflows/go-test-yamlmapper.yaml
Due: none

use go test
  Makefile
Due: none

update workflow
  .github/workflows/go-test-yamlmapper.yaml
Due: none

try gotestsum, enable all tests
  .github/workflows/go-test-yamlmapper.yaml
  Makefile
Due: none

enable verbose
  .github/workflows/go-test-yamlmapper.yaml
  Makefile
Due: none

update tests, increase job timeout
  .github/workflows/go-test-yamlmapper.yaml
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-targets-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
Due: e2e_deps, e2e

trigger ci
  .github/workflows/go-test-yamlmapper.yaml
Due: none

test cleanups
  Makefile
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/utils.go
  test/datadog/yamlmapper/values/base/combined-apm-logs-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
  test/datadog/yamlmapper/values/base/feature-helm-check-values.yaml
  test/datadog/yamlmapper/values/base/feature-remote-config-values.yaml
  test/datadog/yamlmapper/values/base/global-cri-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-docker-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-labels-annotations-tags-values.yaml
  test/datadog/yamlmapper/values/base/global-metadata-values.yaml
  test/datadog/yamlmapper/values/base/global-tags-extended-values.yaml
  test/datadog/yamlmapper/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/values/override-cluster-checks-runner-values.yaml
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

use consts
  test/datadog/yamlmapper/integ_test.go
Due: e2e_deps, e2e

refactor
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/negative_test.go
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/types.go
  test/datadog/yamlmapper/utils.go
  test/datadog/yamlmapper/values/base/admission-controller-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/apm-logs-process-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/cluster-agent-features-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-k8s-events-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-sidecar-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-values.yaml
  test/datadog/yamlmapper/values/base/feature-event-collection-values.yaml
  test/datadog/yamlmapper/values/base/feature-helm-check-values.yaml
  test/datadog/yamlmapper/values/base/feature-ksm-core-values.yaml
  test/datadog/yamlmapper/values/base/feature-logs-values.yaml
  test/datadog/yamlmapper/values/base/feature-orchestrator-explorer-values.yaml
  test/datadog/yamlmapper/values/base/feature-process-agent-values.yaml
  test/datadog/yamlmapper/values/base/feature-prometheus-scrape-values.yaml
  test/datadog/yamlmapper/values/base/feature-remote-config-values.yaml
  test/datadog/yamlmapper/values/base/global-cluster-values.yaml
  test/datadog/yamlmapper/values/base/global-cri-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-docker-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-logging-values.yaml
  test/datadog/yamlmapper/values/base/global-metadata-values.yaml
  test/datadog/yamlmapper/values/base/global-network-policy-values.yaml
  test/datadog/yamlmapper/values/base/global-origin-detection-values.yaml
  test/datadog/yamlmapper/values/base/global-settings-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/global-site-endpoint-values.yaml
  test/datadog/yamlmapper/values/base/global-tags-values.yaml
  test/datadog/yamlmapper/values/negative/invalid-yaml-values.yaml
  test/datadog/yamlmapper/values/negative/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/values/negative/unsupported-key-values.yaml
  test/datadog/yamlmapper/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/values/override-node-agent-values.yaml
Due: e2e_deps, e2e

wip
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

cleanup and refactor
  .github/workflows/go-test-yamlmapper.yaml
  Makefile
  test/common/common.go
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/negative_test.go
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/types.go
  test/datadog/yamlmapper/utils.go
  test/datadog/yamlmapper/values/base/admission-controller-values.yaml
  test/datadog/yamlmapper/values/base/apm-logs-process-values.yaml
  test/datadog/yamlmapper/values/base/apm-logs-values.yaml
  test/datadog/yamlmapper/values/base/apm-port-enabled-values.yaml
  test/datadog/yamlmapper/values/base/apm-use-localservice-values.yaml
  test/datadog/yamlmapper/values/base/cluster-agent-features-values.yaml
  test/datadog/yamlmapper/values/base/cluster-checks-values.yaml
  test/datadog/yamlmapper/values/base/dogstatsd-hostport-values.yaml
  test/datadog/yamlmapper/values/base/dogstatsd-uds-values.yaml
  test/datadog/yamlmapper/values/base/feature-cluster-checks-values.yaml
  test/datadog/yamlmapper/values/base/feature-dogstatsd-values.yaml
  test/datadog/yamlmapper/values/base/feature-npm-values.yaml
  test/datadog/yamlmapper/values/base/full-observability-values.yaml
  test/datadog/yamlmapper/values/base/global-settings-values.yaml
  test/datadog/yamlmapper/values/base/npm-values.yaml
  test/datadog/yamlmapper/values/base/system-probe-checks-values.yaml
  test/datadog/yamlmapper/values/global-credentials-existing-secret-values.yaml
  test/datadog/yamlmapper/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/values/negative/invalid-yaml-values.yaml
  test/datadog/yamlmapper/values/negative/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/values/negative/unsupported-key-values.yaml
  test/datadog/yamlmapper/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/values/override-node-agent-values.yaml
Due: e2e_deps, e2e

skip strip_process_args in agent config
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

remove test namespace from dda baselines
  test/datadog/yamlmapper/baseline/dda/admission-controller-values.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-process-values.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-values.yaml
  test/datadog/yamlmapper/baseline/dda/apm-port-enabled-values.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-agent-features-values.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-checks-values.yaml
  test/datadog/yamlmapper/baseline/dda/default-minimal.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-hostport-values.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-uds-values.yaml
  test/datadog/yamlmapper/baseline/dda/full-observability-values.yaml
  test/datadog/yamlmapper/baseline/dda/global-credentials-existing-secret-values.yaml
  test/datadog/yamlmapper/baseline/dda/global-envfrom-values.yaml
  test/datadog/yamlmapper/baseline/dda/global-settings-values.yaml
  test/datadog/yamlmapper/baseline/dda/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/baseline/dda/override-node-agent-values.yaml
  test/datadog/yamlmapper/baseline/dda/unsupported-key-values.yaml
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
Due: e2e_deps, e2e

update go version
  .github/workflows/go-test-datadog-csi-driver.yaml
Due: none

hardcode agent image tags and update test filenames
  test/datadog/yamlmapper/baseline/dda/admission-controller-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-process-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-port-enabled-dda.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-agent-features-dda.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-checks-dda.yaml
  test/datadog/yamlmapper/baseline/dda/default-minimal-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-hostport-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-uds-dda.yaml
  test/datadog/yamlmapper/baseline/dda/full-observability-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-credentials-existing-secret-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-envfrom-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-settings-dda.yaml
  test/datadog/yamlmapper/baseline/dda/multiple-unsupported-keys-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-agent-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-checks-runner-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-node-agent-dda.yaml
  test/datadog/yamlmapper/baseline/dda/unsupported-key-dda.yaml
  test/datadog/yamlmapper/baseline/values/admission-controller-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-logs-process-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-logs-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-port-enabled-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-agent-features-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-checks-values.yaml
  test/datadog/yamlmapper/baseline/values/default-minimal-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-hostport-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-uds-values.yaml
  test/datadog/yamlmapper/baseline/values/full-observability-values.yaml
  test/datadog/yamlmapper/baseline/values/global-credentials-existing-secret-values.yaml
  test/datadog/yamlmapper/baseline/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/baseline/values/global-settings-values.yaml
  test/datadog/yamlmapper/baseline/values/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/baseline/values/npm-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/baseline/values/override-node-agent-values.yaml
  test/datadog/yamlmapper/baseline/values/system-probe-checks-values.yaml
  test/datadog/yamlmapper/baseline/values/unsupported-key-values.yaml
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

update mapper baselines
  test/datadog/yamlmapper/baseline/dda/admission-controller-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-process-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-port-enabled-dda.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-agent-features-dda.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-checks-dda.yaml
  test/datadog/yamlmapper/baseline/dda/default-minimal-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-hostport-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-uds-dda.yaml
  test/datadog/yamlmapper/baseline/dda/full-observability-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-credentials-existing-secret-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-envfrom-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-settings-dda.yaml
  test/datadog/yamlmapper/baseline/dda/multiple-unsupported-keys-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-agent-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-checks-runner-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-node-agent-dda.yaml
  test/datadog/yamlmapper/baseline/dda/unsupported-key-dda.yaml
Due: e2e_deps, e2e

Address code review feedback on yamlmapper integration tests
  .github/workflows/go-test-yamlmapper.yaml
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

[go-test-yamlmapper] reduce matrix to single k8s version
  .github/workflows/go-test-yamlmapper.yaml
Due: none

[go-test-yamlmapper] remove matrix syntax
  .github/workflows/go-test-yamlmapper.yaml
Due: none

Fix assertBaseValuesCoverage inverse check
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/negative_test.go
  test/datadog/yamlmapper/types.go
Due: e2e_deps, e2e

Address codex review: use prod mapping file and pinned operator version
  .github/workflows/go-test-yamlmapper.yaml
  test/common/common.go
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/types.go
Due: e2e_deps, e2e

Remove unused GetFullValues from common.go
  test/common/common.go
Due: e2e_deps, e2e

enable strict
  .github/workflows/go-test-yamlmapper.yaml
Due: none

Address code review feedback
  .github/workflows/mapper.yaml.disabled
  test/common/common.go
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/negative_test.go
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

[go-test-yamlmapper] refine CI trigger paths
  .github/workflows/go-test-yamlmapper.yaml
Due: none

Add yamlmapper integration test docs to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: regenerate README with helm-docs
  charts/datadog/README.md
Due: e2e

[BARX-1655] Extend registry migration to AP2 customers (#2462)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

[BARX-1656] Extend registryMigrationMode auto to EU1 (DD_REGISTRY_OVERRIDE_EU) (#2460)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

chore: add `crdAnnotation` to helm charts
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogdashboards_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
Due: none

Update readme and changelog
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/README.md
Due: none

Bump operator tag in datadog values.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
Due: none

Allow specifying priorityClassName
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart (#2467)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
Due: none

Update index.yaml
  index.yaml
Due: none

fix doc
  charts/datadog/README.md
Due: e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
