Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

add paths changed
  .github/workflows/bump-chart-version.yaml
Due: none

add types to ci workflow
  .github/workflows/ci.yaml
Due: none

add push event to workflows
  .github/workflows/bump-chart-version.yaml
  .github/workflows/ci.yaml
Due: none

update baselines
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
Due: e2e_deps, e2e

make bump-chart-version reusable
  .github/workflows/bump-chart-version.yaml
  .github/workflows/ci.yaml
Due: none

update ci
  .github/workflows/ci.yaml
Due: none

bump chart-testing action
  .github/workflows/ci.yaml
Due: none

Update charts/datadog/README.md
  charts/datadog/README.md
Due: e2e

swap order
  .github/workflows/ci.yaml
Due: none

add pr-validated to bump-chart workflow
  .github/workflows/bump-chart-version.yaml
  .github/workflows/ci.yaml
Due: none

Apply suggestions from code review
  charts/datadog-operator/templates/_helpers.tpl
Due: none

Reapply add datadog endpoint configMap (#2211)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/datadog-endpoint-configmap.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

Use values from datadog chart's endpoint configmap (#2212)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

update version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: e2e_deps, e2e

fix typo
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: none

Add a dedicated env var to indicate Gateway (#2205)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.12.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Update CHANGELOG.md
  charts/private-action-runner/CHANGELOG.md
Due: none

[ACTP-1139] Pushing a new public PAR release (#2229)
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Update default Agent version to 7.73.0
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update baseline
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

Update default Agent version to 7.73.0 (#2232)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.12.0 release (#2233)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Apply suggestions from code review
  charts/datadog/CHANGELOG.md
Due: e2e

Update test files
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
Due: e2e_deps, e2e

fix tests
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
Due: e2e_deps, e2e

update operator subchart alias
  .github/workflows/ci.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

Update version of Datadog CRDs to 2.14.0-dev.5
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none

Update version of Datadog CRDs to 2.14.0-dev.5 (#2234)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none

enable dda controller
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

update baselines
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

add migration docs
  charts/datadog/docs/Migration_Helm_to_Operator.md
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
