Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

(rever unrelated changes)
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

add cumulative 2 delta processor for DDOT
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/templates/_otel_agent_config.yaml
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_otel_feature_gates.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

update version
  charts/datadog/README.md
Due: e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.yaml
Due: none

fix(gpu): force disable eBPF probes
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/gpu_monitoring_cos.yaml
Due: e2e_deps, e2e

fix(gpu): disable eBPF probes on core agent too
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_container-agent.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/gpu_monitoring_cos.yaml
Due: e2e_deps, e2e

[byoc] Update CloudPrem Helm chart to 0.4.8 (#2816)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

allow helm to use logging seccomp
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

Add agents.localService.trafficDistribution
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-local-service-traffic-distribution-values.yaml
  charts/datadog/templates/agent-services.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fix CSI Autopilot allowlist synchronization race
  test/e2e/datadog/e2e_gke_autopilot_csi_test.go
Due: e2e_deps, e2e

Fix CSI Autopilot allowlist synchronization race (#2821)
  test/e2e/datadog/e2e_gke_autopilot_csi_test.go
Due: e2e_deps, e2e

DDOT: Explicitely disable standalone mode (#2809)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_otel_feature_gates.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

Gate trafficDistribution on Kubernetes 1.34+
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-services.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

drop operator changes
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

update baseline tests
  test/datadog-csi-driver/baseline/CSI_Driver_annotation_and_securitycontext.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_default.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_nodeselector_and_nodeaffinity.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_resources.yaml
Due: e2e_deps, e2e

gate gke
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_otel_feature_gates.yaml
Due: e2e_deps, e2e

remove exemption 1.0.6
  charts/datadog/templates/gke_autopilot_allowlist_synchronizer.yaml
Due: none

update version based on merge request failure
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

Mount run socket for host profiler/ ddot (#2802)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

fix(gpu): disable eBPF probes on core agent too
  charts/datadog/templates/_container-agent.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/gpu_monitoring_cos.yaml
Due: e2e_deps, e2e

feat(gpu): make eBPF probes configurable via gpuMonitoring.enableEbpfProbes
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/gpu_monitoring_test.go
Due: e2e_deps, e2e

docs(gpu): note that the GPU eBPF probes are deprecated
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

fix(gpu): gate enable_ebpf_probes on gpuMonitoring.enabled too
  charts/datadog/templates/system-probe-configmap.yaml
  test/datadog/gpu_monitoring_test.go
Due: e2e_deps, e2e

obs-pipelines: OPW Release v2.20.1
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Update minor version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

fix(gpu): force disable eBPF probes (#2818)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/gpu_monitoring_cos.yaml
  test/datadog/gpu_monitoring_test.go
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.20.1 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

obs-pipelines: OPW Release v2.20.1 (#2824)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[observability-pipelines-worker] 2.20.2 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[observability-pipelines-worker] 2.20.2 release (#2826)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Include agent delivery as co codeowners for crd and operator release
  .github/CODEOWNERS
Due: none

Include agent delivery as co codeowners for crd and operator release (#2827)
  .github/CODEOWNERS
Due: none

Update datadog-operator chart for 1.29.0-rc.3
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e
