Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

rename to within systemProbe
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

put the flag as top-level in clusterRole as we do not expect other kubelet options
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/values.yaml
Due: none

missed the change in templates
  charts/datadog-operator/templates/clusterrole.yaml
Due: none

[datadog/datadog-operator] Fine-grained auth for Operator ClusterRole flag (#2392)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

upgrade to v3.172.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

fix agent version (7.76 --> 7.77)
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fix test baselines
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

[datadog] Add registry.datadoghq.com to available registries documentation
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Revert README.md change (auto-generated by helm-docs)
  charts/datadog/README.md
Due: e2e

[datadog] Update registry inline comment and regenerate README via helm-docs
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

fix null check
  charts/synthetics-private-location/templates/deployment.yaml
Due: none

add option to disable svc account token automount
  charts/synthetics-private-location/templates/deployment.yaml
  charts/synthetics-private-location/values.yaml
Due: none

update changelog, readme, chart version
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
Due: none

remove the default
  charts/synthetics-private-location/values.yaml
Due: none

chore: Update cluster-agent-rbac.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: none

Update datadog chart version to 3.171.1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

fix(datadog): Remove unnecessary `namespace` metadata on cluster resources (#2400)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

handle post-migration operator deployment name collision edge case
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/migration-job.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

update docs, bump versions
  charts/datadog/docs/Migration_Helm_to_Operator.md
Due: none

update baseline
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[CI] bump-chart-version workflow improvements (#2357)
  .github/scripts/bump-chart-version.js
  .github/workflows/bump-chart-version.yaml
  .github/workflows/ci.yaml
Due: none

Add label-based fallback for endpoint-config ConfigMap lookup (#2363)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

update baseline
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

Apply suggestion from @louis-cqrl
  charts/datadog/README.md
Due: e2e

Apply suggestion from @louis-cqrl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

whoops
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

[AGENTRUN-1051] Update FIPS proxy version references to 1.1.21 (#2358)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[NTWK-735] Add maxConnectionStateBuffered to datadog chart (#2394)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

feat: add endpointslices read rbac to node agent
  charts/datadog/templates/rbac.yaml
Due: none

Update Datadog Operator Helm Chart v1.24.0-rc.2
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[CONTP] feat(rbac): Add endpointslices read permissions to node agent (#2399)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/rbac.yaml
Due: e2e_deps, e2e

add agentic coding assistant reference docs
  AGENTS.md
  CLAUDE.md
  charts/datadog/docs/internal/helm-operator-migration-reference.md
Due: none

Update Datadog Operator Helm Chart v1.24.0-rc.2 (#2401)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Apply suggestions from code review
  charts/datadog/templates/NOTES.txt
Due: none

bump documented versions, address review comments
  charts/datadog/docs/Migration_Helm_to_Operator.md
Due: none
