Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

fix changelog
  charts/observability-pipelines-worker/CHANGELOG.md
Due: none

fix changelog again
  charts/observability-pipelines-worker/CHANGELOG.md
Due: none

[observability-pipelines-worker] 2.15.0 release (#2539)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

restrict to github actions only
  renovate.json
Due: none

[datadog] Fix discovery feature gates to use discovery-enabled in all places
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  test/datadog/baseline/manifests/discovery_spl_enabled_by_default.yaml
  test/datadog/system_probe_configmap_test.go
Due: e2e_deps, e2e

[datadog] Fix cgroups mount and discovery-enabled in system-probe container
  charts/datadog/templates/_container-system-probe.yaml
  test/datadog/baseline/manifests/discovery_spl_enabled_by_default.yaml
  test/datadog/system_probe_configmap_test.go
Due: e2e_deps, e2e

format
  test/datadog/system_probe_configmap_test.go
Due: e2e_deps, e2e

Extend registry migration auto mode to all US1 users
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

fix: sync NOTES.txt migration notice with unconditional US1 auto behavior
  charts/datadog/templates/NOTES.txt
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Extend registry migration auto mode to all US1 users (#2523)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

Remove collector config from host profiler (#2535)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host_profiler_config.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/host-profiler-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Add RBAC for Gateway API, service mesh, and ingress controller CRDs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Disable system-probe-lite on GKE Autopilot and GDC
  charts/datadog/templates/_helpers.tpl
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
Due: e2e_deps, e2e

[datadog] Add autopilot workload allowlist tests for discovery system-probe command
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

cleanup
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

update chart
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

fix conflict
  charts/datadog/CHANGELOG.md
Due: e2e

Remove optional run subcommand
  charts/datadog/templates/_container-host-profiler.yaml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

[datadog-crds] drop description fields from agent crds
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
Due: e2e_deps, e2e

fix changelog/chart.yaml
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[datadog-crds] drop description fields from agent crds (#2554)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/update-crds.sh
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
Due: none

Add install method in otel-agent-gateway-deployment.yaml
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: none

[datadog-operator] bump datadog-crds dependency
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none

Fix tests
  charts/datadog/Chart.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

[datadog-operator] bump datadog-crds dependency (#2555)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none

Loosen condition on deployment patch rbac in cluster agent to allow patching deployments with language detection annotations even if auto instrumentation disabled.
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

Remove optional run subcommand (#2547)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
Due: e2e_deps, e2e

chore(opw): remove deprecated workerAPI.playground config
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/ci/api-values.yaml
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: none

docs: always include GKE constraints guide for datadog chart PR reviews
  AGENTS.md
Due: none

ci: alert on PR when GKE autopilot/GDC baseline manifests change
  .github/workflows/gke-baseline-alert.yaml
Due: none

docs: document command, args, and all WLA-evaluated fields in GKE review guide
  charts/datadog/docs/internal/gke-constraints-review-guide.md
Due: none

update gke_autopilot_ baseline pattern
  .github/workflows/gke-baseline-alert.yaml
Due: none

test: simulate GKE baseline change to validate alert workflow
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
Due: e2e_deps, e2e

feat(datadog-crds): update CRDs from tag v1.26.0-rc.1
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalerclusterprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogmonitors.yaml
  crds/datadoghq.com_datadogpodautoscalerclusterprofiles.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
  crds/datadoghq.com_datadogslos.yaml
Due: none

Move to a devel versoim 2.19.0-dev.1
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
