Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

pl-1-68-0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

pl-1-68-0 (#2680)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Workflow for apply chart changes for operator release (#2678)
  .github/workflows/operator-release-chart-scripts.yaml
Due: none

Add Claude OTEL resource attributes
  .claude/settings.json
Due: none

chore(cloudprem): bump to 0.4.1 with multi-cloud docs + kubeVersion enforcement
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
Due: none

chore(cloudprem): regenerate README with helm-docs Requirements block
  charts/cloudprem/README.md
Due: none

[] Update FIPS proxy version references to 1.1.25
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Set datadog.discovery.serviceMap.enabled default to false
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Bump chart to 3.215.0 for serviceMap.enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

[datadog] Fix yamllint: remove extra space in serviceMap.enabled
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Update README version badge to 3.215.0
  charts/datadog/README.md
Due: e2e

[] Update FIPS proxy version references to 1.1.25 (#2687)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

disallow privilege escalation to allow for seccomp tightening
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add rename syscalls so the profiler can rename its log file
  charts/datadog/templates/host-profiler-security-configmap.yaml
Due: none

tighten seccomp
  charts/datadog/templates/host-profiler-security-configmap.yaml
Due: none

[datadog] Bump chart to 3.215.0 and drop dead serviceMap nil-guard
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
Due: e2e_deps, e2e

updates to 2.16.1
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

updates to 2.16.1 (#2691)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Enable CCR if orchestrator check dispatched
  charts/datadog/templates/_helpers.tpl
Due: none

feat(datadog-csi-driver): annotate CSIDriver with apm-enabled
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/csidriver.yaml
Due: none

Update operator release workflows
  .github/workflows/operator-release-chart-scripts.yaml
Due: none

Update operator release workflows (#2693)
  .github/workflows/operator-release-chart-scripts.yaml
Due: none

Update datadog-crd to operator v1.27.0-rc.3 crds
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  crds/datadoghq.com_datadogagents.yaml
Due: none

Update datadog-crd to operator v1.27.0-rc.3 crds (#2694)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  crds/datadoghq.com_datadogagents.yaml
Due: none

Added the ApiServerCache config for public use
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fixed the linter and README error
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Addressed the PR comment
  charts/datadog/CHANGELOG.md
Due: e2e

Fixed the chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[GKE Autopilot] Reference v1.0.5 WorkloadAllowlist exemption when OTel feature gates are set
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/gke_autopilot_allowlist_synchronizer.yaml
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

[GKE Autopilot] Wait for AllowlistSynchronizer Ready before applying DaemonSet when featureGates is set
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/gke_autopilot_allowlist_wait_job.yaml
  charts/datadog/values.yaml
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

[GKE Autopilot] Align DaemonSet spec with v1.0.5 when otelCollector featureGates is set
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

Added the ApiServerCache config for public use (#2688)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update datadog operator char to v1.27.0-rc.3
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update datadog operator char to v1.27.0-rc.3 (#2695)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog] Include otelCollector ports in agent NetworkPolicies
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-cilium-network-policy.yaml
  charts/datadog/templates/agent-network-policy.yaml
  test/datadog/baseline/manifests/otel-agent_network_policy.yaml
  test/datadog/baseline/values/otel-agent_network_policy.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/control-plane-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/ingress/intake.yaml
  charts/cloudprem/templates/intake-configmap.yaml
  charts/cloudprem/templates/intake-service.yaml
  charts/cloudprem/templates/janitor-deployment.yaml
  charts/cloudprem/templates/metastore-deployment.yaml
  charts/cloudprem/templates/searcher-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

feat(datadog): add AppSec ingress-nginx injection support
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/appsec_injector_test.go
Due: e2e_deps, e2e
