Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Update index.yaml
  index.yaml
Due: none

set datadog.autoscaling.workload.enabled empty by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

datadog-operator: add dnsConfig option
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Due: none

set datadog.autoscaling.workload.enabled empty by default (#2242)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add confd ci values
  charts/datadog/ci/confd-advancedconfd-values.yaml
  charts/datadog/ci/confd-cluster-agent-values.yaml
  charts/datadog/ci/confd-values.yaml
Due: none

bump version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

fix extra line
  charts/datadog/ci/confd-cluster-agent-values.yaml
  charts/datadog/ci/confd-values.yaml
Due: none

[OTAGENT-732] Improve the default configs of DDOT Gateway
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_otel_agent_config.yaml
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: e2e

fix cluster checks configmap volume
  charts/datadog/ci/confd-advancedconfd-values.yaml
  charts/datadog/ci/confd-cluster-agent-values.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  test/datadog/confd_test.go
Due: e2e_deps, e2e

add baselines and update test
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/values/confd.yaml
  test/datadog/confd_test.go
Due: e2e_deps, e2e

remove added ci/confd-values.yaml
  charts/datadog/ci/confd-values.yaml
Due: none

update changelog
  charts/datadog/CHANGELOG.md
Due: e2e

bump chart version
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[OTAGENT-732] Improve the default configs of DDOT Gateway (#2245)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_config.yaml
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: e2e_deps, e2e

datadog-operator: add dnsConfig option (#2194)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[OTAGENT-737] allow to override k8s version
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/otel-agent-gateway-hpa.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[OTAGENT-737] allow to override k8s version (#2246)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/otel-agent-gateway-hpa.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

enable controllers and crds
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

bump deps and update baselines
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

test: use datadog-agent e2e-framework pkg instead of test infra
  test/common/common_e2e.go
  test/e2e/datadog/e2e_gke_autopilot_csi_test.go
  test/e2e/datadog/e2e_gke_autopilot_systemprobe_test.go
  test/e2e/datadog/e2e_gke_autopilot_test.go
  test/e2e/datadog/e2e_gke_test.go
  test/e2e/datadog/e2e_k8ssuite_test.go
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

update values.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

separate advanced migration docs
  charts/datadog/docs/Migration_Helm_to_Operator.md
  charts/datadog/docs/Migration_Helm_to_Operator_Advanced.md
Due: none

Add ftruncate
  charts/datadog/templates/system-probe-configmap.yaml
Due: none

Bump changelog
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

Fix mounts
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
Due: e2e_deps, e2e

Update baselines
  test/datadog/baseline/manifests/gpu_monitoring.yaml
Due: e2e_deps, e2e

docs
  charts/datadog/README.md
Due: e2e

update crds for v1.21.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
Due: none

update crds for v1.21.0 (#2249)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
Due: none

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/_helpers.tpl
  charts/cloudprem/api-key-secret.yaml
  charts/cloudprem/cloudprem-client-ca-secret.yaml
  charts/cloudprem/configmap-bootstrap.yaml
  charts/cloudprem/configmap.yaml
  charts/cloudprem/control-plane-deployment.yaml
  charts/cloudprem/hpa.yaml
  charts/cloudprem/indexer-pdb.yaml
  charts/cloudprem/indexer-statefulset.yaml
  charts/cloudprem/ingress/internal.yaml
  charts/cloudprem/ingress/public.yaml
  charts/cloudprem/janitor-deployment.yaml
  charts/cloudprem/job-create-indices.yaml
  charts/cloudprem/job-create-sources.yaml
  charts/cloudprem/metastore-deployment.yaml
  charts/cloudprem/metastore-pdb.yaml
  charts/cloudprem/prometheusrule.yaml
  charts/cloudprem/searcher-pdb.yaml
  charts/cloudprem/searcher-statefulset.yaml
  charts/cloudprem/service.yaml
  charts/cloudprem/serviceaccount.yaml
  charts/cloudprem/servicemonitor.yaml
  charts/cloudprem/values.yaml
Due: none

update operator to v1.21.0
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

update operator to v1.21.0 (#2250)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

update CRDs from operator v1.22.0-rc.1 tag
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none

update CRDs from operator v1.22.0-rc.1 tag (#2252)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none
