Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Update ref pattern in GitLab STS configuration
  .github/chainguard/self.gitlab.read.sts.yaml
Due: none

Update ref pattern in GitLab STS configuration (#2706)
  .github/chainguard/self.gitlab.read.sts.yaml
Due: none

Update datadog crd to operator 1.27 release (#2705)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Due: none

chore(e2e): migrate from test-infra-definitions to datadog-agent/test/e2e-framework (#2704)
  .gitlab-ci.yml
  CONTRIBUTING.md
  test/common/common_e2e.go
  test/e2e/datadog/e2e_gke_autopilot_csi_test.go
  test/e2e/datadog/e2e_gke_autopilot_systemprobe_test.go
  test/e2e/datadog/e2e_gke_autopilot_test.go
  test/e2e/datadog/e2e_gke_test.go
  test/e2e/datadog/e2e_k8ssuite_test.go
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

Update CSI driver allowlist to enable SSI on GKE autopilot
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/templates/gke_autopilot_allowlist_synchronizer.yaml
Due: none

Bump version to 0.15.0
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/values.yaml
Due: none

Fix SSI gating to spare legacy GKE Autopilot
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline_test.go
Due: e2e_deps, e2e

Remove v1.0.1 from CSI driver AllowlistSynchronizer
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/templates/gke_autopilot_allowlist_synchronizer.yaml
Due: none

test(e2e): bump e2e-framework to main
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

Rename agent-all to agent-community-eng
  repository.datadog.yml
Due: none

Rename agent-all to agent-community-eng (#2707)
  repository.datadog.yml
Due: none

Update CSI driver allowlist to enable SSI on GKE autopilot (#2642)
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/templates/gke_autopilot_allowlist_synchronizer.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline_test.go
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

Update datadog-csi-driver chart dependency version to enable SSI on GKE Autopilot and annotate the CSIDriver with apm-enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

enable DDI crd by default
  charts/datadog-operator/values.yaml
Due: none

disable ddi crd by default
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
Due: none

update datadog operator chart to 1.27 release
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-operator] Update from operator 1.27.0 (#2708)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update datadog-csi-driver chart dependency version to enable SSI on GKE Autopilot and annotate the CSIDriver with apm-enabled (#2709)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

feat: install ddi crd by default
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
Due: none

update baseline template
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[CONTP-1710] Install DatadogInstrumentation crd by default (#2711)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Enable DDAI flag and crd
  charts/datadog/values.yaml
Due: e2e_deps, e2e

remove seccomp configmap and use profile baked into image
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/templates/host-profiler-security-configmap.yaml
Due: none

disallow privilege escalation to allow for seccomp tightening
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add seccomp profile dynamic naming based on image hash
  charts/datadog/templates/agent-scc.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add seccomp profile dynamic naming based on image hash
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add IPC_LOCK cap
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add tests
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/values.yaml
Due: none

[Host Profiler] Remove seccomp configmap and use profile baked into image (#2698)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/templates/agent-scc.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/host-profiler-security-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

update crds for operator 1.28.0-rc.1
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
Due: none

update crds for operator 1.28.0-rc.1 (#2715)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update CloudPrem Helm chart (#2714)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/values.yaml
Due: none

Update operator chart for 1.28.0-rc.1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update operator chart for 1.28.0-rc.1 (#2716)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

add build tags to e2e files
  test/common/common_e2e.go
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

update README
  charts/datadog/README.md
Due: e2e
