Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Clarify instructions to configure secrets management (#2307)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Update datadog-csi-driver chart to support SSI
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
Due: none

Add link to agent release notes on agent version change (#2304)
  .github/workflows/release.yaml
Due: none

Fix incorrect image tag version
  charts/observability-pipelines-worker/README.md
Due: none

update baselines
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

wip
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

harmonize configs with operator
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

harmonize configs with operator
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

update baselines
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

fix condition and closing bracket
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Due: e2e_deps, e2e

fix process env vars for gdc
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
Due: e2e_deps, e2e

bump chart version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

syntax fixes
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_processes-common-env.yaml
Due: e2e

[datadog] Update RBAC for cluster scaling (#2310)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

Add injectionMode option for APM instrumentation
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update README.md + bump chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

Update baselines
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

Bump version in README
  charts/datadog/README.md
Due: e2e

add validation error when using injectionMode=csi without csi.enabled
  charts/datadog/templates/NOTES.txt
  test/datadog/apm_instrumentation_test.go
  test/datadog/values/instrumentation/injection_mode_csi_with_driver.yaml
  test/datadog/values/instrumentation/injection_mode_csi_without_driver.yaml
Due: e2e_deps, e2e

Give the CSI driver the permissions to create a ConfigMap, and the cluster-agent to read it
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/templates/role.yaml
  charts/datadog-csi-driver/templates/rolebinding.yaml
  charts/datadog-csi-driver/templates/serviceaccount.yaml
  charts/datadog-csi-driver/values.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: none

[ACTP] bump helm charts to 1.21.1
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

CONTINT-1170 - enable node agent cpu request&limits by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
Due: e2e_deps, e2e

CONTINT-1170 - update tests to new default resource requests&limits
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

fixup! CONTINT-1170 - update tests to new default resource requests&limits
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

refactor
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/negative_test.go
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/types.go
  test/datadog/yamlmapper/utils.go
  test/datadog/yamlmapper/values/base/admission-controller-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/apm-logs-process-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/cluster-agent-features-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-k8s-events-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-sidecar-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-values.yaml
  test/datadog/yamlmapper/values/base/feature-event-collection-values.yaml
  test/datadog/yamlmapper/values/base/feature-helm-check-values.yaml
  test/datadog/yamlmapper/values/base/feature-ksm-core-values.yaml
  test/datadog/yamlmapper/values/base/feature-logs-values.yaml
  test/datadog/yamlmapper/values/base/feature-orchestrator-explorer-values.yaml
  test/datadog/yamlmapper/values/base/feature-process-agent-values.yaml
  test/datadog/yamlmapper/values/base/feature-prometheus-scrape-values.yaml
  test/datadog/yamlmapper/values/base/feature-remote-config-values.yaml
  test/datadog/yamlmapper/values/base/global-cluster-values.yaml
  test/datadog/yamlmapper/values/base/global-cri-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-docker-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-logging-values.yaml
  test/datadog/yamlmapper/values/base/global-metadata-values.yaml
  test/datadog/yamlmapper/values/base/global-network-policy-values.yaml
  test/datadog/yamlmapper/values/base/global-origin-detection-values.yaml
  test/datadog/yamlmapper/values/base/global-settings-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/global-site-endpoint-values.yaml
  test/datadog/yamlmapper/values/base/global-tags-values.yaml
  test/datadog/yamlmapper/values/negative/invalid-yaml-values.yaml
  test/datadog/yamlmapper/values/negative/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/values/negative/unsupported-key-values.yaml
  test/datadog/yamlmapper/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/values/override-node-agent-values.yaml
Due: e2e_deps, e2e

use consts
  test/datadog/yamlmapper/integ_test.go
Due: e2e_deps, e2e

add prometheus helm repo
  .github/workflows/go-test-yamlmapper.yaml
Due: none

update workflow
  .github/workflows/go-test-yamlmapper.yaml
Due: none

try gotestsum, enable all tests
  .github/workflows/go-test-yamlmapper.yaml
  Makefile
Due: none

trigger ci
  .github/workflows/go-test-yamlmapper.yaml
Due: none

use go test
  Makefile
Due: none

update tests, increase job timeout
  .github/workflows/go-test-yamlmapper.yaml
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-targets-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
Due: e2e_deps, e2e

enable verbose
  .github/workflows/go-test-yamlmapper.yaml
  Makefile
Due: none

test cleanups
  Makefile
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/utils.go
  test/datadog/yamlmapper/values/base/combined-apm-logs-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
  test/datadog/yamlmapper/values/base/feature-helm-check-values.yaml
  test/datadog/yamlmapper/values/base/feature-remote-config-values.yaml
  test/datadog/yamlmapper/values/base/global-cri-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-docker-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-labels-annotations-tags-values.yaml
  test/datadog/yamlmapper/values/base/global-metadata-values.yaml
  test/datadog/yamlmapper/values/base/global-tags-extended-values.yaml
  test/datadog/yamlmapper/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/values/override-cluster-checks-runner-values.yaml
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

refactor
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/integ_test.go
  test/datadog/yamlmapper/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/negative_test.go
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/types.go
  test/datadog/yamlmapper/utils.go
  test/datadog/yamlmapper/values/base/admission-controller-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/apm-logs-process-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/cluster-agent-features-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-k8s-events-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-sidecar-values.yaml
  test/datadog/yamlmapper/values/base/feature-admission-controller-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-instrumentation-values.yaml
  test/datadog/yamlmapper/values/base/feature-apm-values.yaml
  test/datadog/yamlmapper/values/base/feature-event-collection-values.yaml
  test/datadog/yamlmapper/values/base/feature-helm-check-values.yaml
  test/datadog/yamlmapper/values/base/feature-ksm-core-values.yaml
  test/datadog/yamlmapper/values/base/feature-logs-values.yaml
  test/datadog/yamlmapper/values/base/feature-orchestrator-explorer-values.yaml
  test/datadog/yamlmapper/values/base/feature-process-agent-values.yaml
  test/datadog/yamlmapper/values/base/feature-prometheus-scrape-values.yaml
  test/datadog/yamlmapper/values/base/feature-remote-config-values.yaml
  test/datadog/yamlmapper/values/base/global-cluster-values.yaml
  test/datadog/yamlmapper/values/base/global-cri-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-docker-socket-values.yaml
  test/datadog/yamlmapper/values/base/global-logging-values.yaml
  test/datadog/yamlmapper/values/base/global-metadata-values.yaml
  test/datadog/yamlmapper/values/base/global-network-policy-values.yaml
  test/datadog/yamlmapper/values/base/global-origin-detection-values.yaml
  test/datadog/yamlmapper/values/base/global-settings-consolidated-values.yaml
  test/datadog/yamlmapper/values/base/global-site-endpoint-values.yaml
  test/datadog/yamlmapper/values/base/global-tags-values.yaml
  test/datadog/yamlmapper/values/negative/invalid-yaml-values.yaml
  test/datadog/yamlmapper/values/negative/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/values/negative/unsupported-key-values.yaml
  test/datadog/yamlmapper/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/values/override-node-agent-values.yaml
Due: e2e_deps, e2e
