Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

[CONTP-1612] support enabling untaint controller in datadog chart (#2782)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog/untaint_toleration_test.go
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

chore(cloudprem): release 0.5.2
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
Due: none

Update CloudPrem Helm chart to 0.5.2
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

Update CloudPrem Helm chart to 0.5.2 (#2864)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

add appsec injector RBAC opt-out
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/appsec_injector_test.go
Due: e2e_deps, e2e

[datadog] Enable config sync when CNM direct send is enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
Due: e2e_deps, e2e

chore(observability-pipelines-worker): bump version to 2.21.0
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

chore(observability-pipelines-worker): bump version to 2.21.0 (#2869)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[test] Enable NPM/USM in the Autopilot system-probe E2E
  test/e2e/datadog/e2e_gke_autopilot_systemprobe_test.go
Due: e2e_deps, e2e

add appsec injector RBAC opt-out (#2866)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/appsec_injector_test.go
Due: e2e_deps, e2e

[datadog] Include otelCollector ports in agent NetworkPolicies
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-cilium-network-policy.yaml
  charts/datadog/templates/agent-network-policy.yaml
  test/datadog/baseline/manifests/otel-agent_network_policy.yaml
  test/datadog/baseline/values/otel-agent_network_policy.yaml
Due: e2e_deps, e2e

[datadog] Enable config sync when CNM direct send is enabled (#2870)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/e2e/datadog/e2e_gke_autopilot_systemprobe_test.go
Due: e2e_deps, e2e

Add previewFleetRollouts config to Operator chart
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

default to true for direct send if doNotCheckTag
  charts/datadog/templates/_helpers.tpl
Due: none

Add previewFleetRollouts config to Operator chart (#2871)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Do not render disabled ExtendedDaemonSet flag
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Remove obsolete registry override settings
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Stop rendering unsupported Operator settings (#2875)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Allow specifying additional deployment labels
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

chore(observability-pipelines-worker): bump version to 2.21.1
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

chore(observability-pipelines-worker): bump version to 2.21.1 (#2878)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

feat: configure the Operator Linux ADP default
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

docs(operator): document Linux ADP default
  charts/datadog-operator/CHANGELOG.md
Due: none

[OTAGENT-1282] Fix otel-agent StartError from unreadable /etc/datadog-agent/auth mountpoint (#2859)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-init-linux.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_cws_in_security_agent.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_only.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/gpu_monitoring_cos.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

add selinux annotation to host profiler's install-seccomp init container
  charts/datadog/templates/_host-profiler-init.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

use same selinux profile as the host profiler container
  charts/datadog/templates/_host-profiler-init.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

merge with initcontainer user-provided settings but host profiler selinux profile has precedence
  charts/datadog/templates/_host-profiler-init.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

docs(datadog-operator): retain existing README version
  charts/datadog-operator/README.md
Due: none

[CONTP-1931] Enable DatadogInstrumentation controller by default
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/instrumentation_crd_test.go
Due: e2e_deps, e2e

Update DatadogInstrumentation changelog entry
  charts/datadog/CHANGELOG.md
Due: e2e

[PROF-15646] selinux annotation on install-seccomp (#2873)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_host-profiler-init.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

fix(datadog-operator): use env for Linux ADP default
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

docs(datadog-operator): note ADP default Agent version
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
