Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Update index.yaml
  index.yaml
Due: none

Update CHANGELOG with upgrade instructions for 2.12.3 (#2431)
  charts/observability-pipelines-worker/CHANGELOG.md
Due: none

Add GKE GDC exclusion and APM condition for registry migration
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Address codex review comments
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/NOTES.txt
Due: e2e

Merge registry migration tests into a single test function
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Apply GKE GDC bypass before US3 AzureCR fallback
  charts/datadog/templates/_helpers.tpl
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Reject unsupported registryMigrationMode values
  charts/datadog/templates/_helpers.tpl
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

[datadog-crds] 1.24.0 (#2444)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Due: none

[datadog-operator] 1.24.0
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-operator] 2.19.1 rollback: disable registryMigrationMode, revert operator image to gcr.io/datadoghq
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-operator] 1.24.0 (#2450)
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/service.yaml
Due: none

Update CloudPrem Helm chart (#2453)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/service.yaml
Due: none

Add registryMigrationMode to values.schema.json and move validation earlier
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.schema.json
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Fix GKE Autopilot/GDC registry documentation
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add tests for apiKey and appKey
  test/datadog/api_app_keys_test.go
Due: e2e_deps, e2e

address code review: fix daemonset absent assertion to check rendered output
  test/datadog/api_app_keys_test.go
Due: e2e_deps, e2e

[datadog-operator] fix changelog
  charts/datadog-operator/CHANGELOG.md
Due: none

[datadog-operator] fix changelog (#2455)
  charts/datadog-operator/CHANGELOG.md
Due: none

Add validation tests for apiKey and appKey (#2454)
  test/datadog/api_app_keys_test.go
Due: e2e_deps, e2e

Fix CHANGELOG to mention APM condition for AP1 auto migration
  charts/datadog/CHANGELOG.md
Due: e2e

[BARX-1656] Add registryMigrationMode for gradual migration to registry.datadoghq.com (#2438)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
  test/datadog/baseline/values/registry_migration_ap1.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

[BARX] Extend AP1 registry migration to all users (remove APM filter)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

WIP: Standalone helm
  charts/datadog/templates/_container-host-profiler-standalone.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host_profiler_config.yaml
  charts/datadog/templates/host-profiler-standalone-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[BARX-1656] Extend registryMigrationMode auto to include EU1 (registry.datadoghq.com)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Add log volume to fhp
  charts/datadog/templates/_container-host-profiler.yaml
Due: none

update changelog
  charts/datadog/CHANGELOG.md
Due: e2e

revert accidentally auto-applied changes to datadog chart
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[BARX-1655] Extend AP1 registry migration to all users (#2458)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

[BARX] Rollback registryMigrationMode default to "" for AP1
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update baselines for rollback
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
Due: e2e_deps, e2e

[BARX] Extend registry migration to AP2 customers
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Add rollback instructions to CHANGELOG
  charts/datadog/CHANGELOG.md
Due: e2e

squash: yaml-mapper history (pre integ tests)
  .github/workflows/go-test-datadog.yaml
  .github/workflows/go-test-operator.yaml
  .github/workflows/go-test-private-action-runner.yaml
  .github/workflows/go-test-yamlmapper.yaml.disabled
  .github/workflows/mapper.yaml.disabled
  Makefile
  test/common/common.go
  test/go.mod
  test/go.sum
  test/yaml-mapper/integ_test.go
  test/yaml-mapper/utils.go
  tools/yaml-mapper/mapping_datadog_helm_to_datadogagent_crd.yaml
Due: e2e_deps, e2e
