Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Update datadog crds
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoginstrumentations_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalerclusterprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/update-crds.sh
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  crds/datadoghq.com_datadoginstrumentations.yaml
  crds/datadoghq.com_datadogpodautoscalerclusterprofiles.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none

chore: set chart dev version and add instrumentation crd val
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/values.yaml
Due: none

[datadog/datadog-crd] Update from operator v1.27.0-rc.1 (#2637)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoginstrumentations_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalerclusterprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  crds/datadoghq.com_datadoginstrumentations.yaml
  crds/datadoghq.com_datadogpodautoscalerclusterprofiles.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none

Remove operatorrelease chaingaurd (#2638)
  .github/chainguard/self.operatorrelease-prod.sts.yaml
  .github/chainguard/self.operatorrelease-staging.sts.yaml
Due: none

update datadog operator to 1.27.0 rc1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Changes needed for local dev
  charts/datadog-crds/templates/datadoghq.com_datadoginstrumentations_v1.yaml
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  crds/datadoghq.com_datadoginstrumentations.yaml
Due: none

update datadog operator to 1.27.0 rc1 (#2639)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog] Add datadog.discovery.serviceMap.enabled
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Bump chart to 3.209.0 + CHANGELOG entry for serviceMap
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

[datadog] Bump README version badge to 3.209.0
  charts/datadog/README.md
Due: e2e

remove privileges for host-profiler: - provide necessary capabilities - restrict available syscalls - support apparmor profiles
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/host-profiler-security-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add host-profiler seccomp to superset for PSP/SCC templates
  charts/datadog/values.yaml
Due: e2e_deps, e2e

added standalone-specific necessary syscalls: the resourcedetection processor uses syscalls like `sysinfo` that were not present in the original allow-list that was bundled-centric.
  charts/datadog/templates/host-profiler-security-configmap.yaml
Due: none

trade CAP_SYS_ADMIN for tighter capabilities
  charts/datadog/values.yaml
Due: e2e_deps, e2e

seccomp check for pre-release kube versions
  charts/datadog/templates/_helpers.tpl
Due: none

enforce /sys/kernel/tracing to read only and explain potential caveat
  charts/datadog/templates/_container-host-profiler.yaml
Due: none

added host profiler specific fqdn to agent's cilium: - sourcemap-intake.%site for symbols - otlp.%site for metrics
  charts/datadog/templates/agent-cilium-network-policy.yaml
Due: none

Update CSI driver allowlist to enable SSI on GKE autopilot
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/templates/gke_autopilot_allowlist_synchronizer.yaml
Due: none

Bump version to 0.11.0
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/values.yaml
Due: none

Ensure csi e2e run when CSI chart is updated (#2569)
  .gitlab-ci.yml
  test/e2e/datadog/e2e_gke_autopilot_csi_test.go
Due: e2e_deps, e2e

[datadog] auto-enable discovery on `latest` and `7` tags
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  test/datadog/service_discovery_test.go
Due: e2e_deps, e2e

[synthetics-private-location] Mount emptyDir at /run for read-only-root clusters (#2635)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/templates/deployment.yaml
Due: none

feat(datadog): add autoscaling DPACP CRD support
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Explicit datadog-operator deployment health port
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/templates/deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update FIPS proxy version references to 1.1.24
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

authorize injection-platform for MQ
  repository.datadog.yml
Due: none

authorize injection-platform for MQ (#2646)
  repository.datadog.yml
Due: none

Apply suggestion from @clamoriniere
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] expand 3.209.0 CHANGELOG entry to match PR scope
  charts/datadog/CHANGELOG.md
Due: e2e

add configurable tool and tool_version to install-info
  charts/datadog/templates/install_info-configmap.yaml
Due: none

Fix -h
  scripts/release-operator.sh
Due: none

feat(datadog): add autoscaling DPACP CRD support (#2561)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

bump pulumi gke k8s version
  .gitignore
  test/common/common_e2e.go
Due: e2e_deps, e2e

[PROF-14068] Remove privileges for host-profiler (#2586)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/templates/agent-cilium-network-policy.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/host-profiler-security-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

bump pulumi gke k8s version (#2648)
  .gitignore
  test/common/common_e2e.go
Due: e2e_deps, e2e

feat(datadog): default agent to 7.78.3
  charts/datadog/values.yaml
Due: e2e_deps, e2e
