Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

update chart v
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

let job handle chart bump
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

fix changelog
  charts/datadog/CHANGELOG.md
Due: e2e

Update index.yaml
  index.yaml
Due: none

wip: changes for ipvpa
  charts/datadog/templates/cluster-agent-rbac.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none

resolve merge conflicts
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

Remove comments in custom agent config (#2416)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

feat(release): Use dd-octo-sts (#2413)
  .github/workflows/release-crds.yaml
  .github/workflows/release-operator.yaml
  .github/workflows/release.yaml
Due: none

[SOCE-2649] Add imagePullSecrets and serviceAccount configuration to private-action-runner chart
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/templates/rolebinding.yaml
  charts/private-action-runner/templates/scc.yaml
  charts/private-action-runner/templates/serviceaccount.yaml
  charts/private-action-runner/values.schema.json
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
  test/private-action-runner/baseline_test.go
Due: e2e_deps, e2e

PR feedbacks
  charts/private-action-runner/templates/_helpers.tpl
Due: none

[SOCE-2649] Add imagePullSecrets and serviceAccount configuration to private-action-runner chart (#2419)
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/README.md.gotmpl
  charts/private-action-runner/templates/_helpers.tpl
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/templates/rolebinding.yaml
  charts/private-action-runner/templates/scc.yaml
  charts/private-action-runner/templates/serviceaccount.yaml
  charts/private-action-runner/values.schema.json
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
  test/private-action-runner/baseline_test.go
Due: e2e_deps, e2e

[BARX-1655] Add useDatadogRegistry feature flag, enable for ap1
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[BARX-1655] Enable useDatadogRegistry for us3
  charts/datadog-operator/templates/_helpers.tpl
Due: none

[BARX-1655] Enable useDatadogRegistry for us5
  charts/datadog-operator/templates/_helpers.tpl
Due: none

[BARX-1655] Enable useDatadogRegistry for ap2
  charts/datadog-operator/templates/_helpers.tpl
Due: none

[BARX-1655] Enable useDatadogRegistry for eu1
  charts/datadog-operator/templates/_helpers.tpl
Due: none

[datadog/cluster autoscaling] update RBAC
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

[OTAGENT-794] Host Profiler bundled support (#2354)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host_profiler_config.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/host-profiler-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

upgrade par version
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Change check-cluster-name regex to allow underscores and starting with a digit, add relevant test
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/strange-valid-cluster-name.yaml
  charts/datadog/templates/_helpers.tpl
Due: e2e_deps, e2e

Fix multiline failure message
  charts/datadog/templates/_helpers.tpl
Due: none

[BARX-1655] Use per-site DD_REGISTRY_OVERRIDE_* env vars, enable ASIA
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

bump chart
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[datadog/cluster autoscaling] update RBAC (#2426)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: e2e_deps, e2e

upgrade par version (#2427)
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

# This is a combination of 2 commits. # This is the 1st commit message:
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Switch to per-region DD_REGISTRY_OVERRIDE_* env vars
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Rename useDatadogRegistry to registryMigration.mode
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Regenerate README with helm-docs
  charts/datadog-operator/README.md
Due: none

[BARX-1655] Switch operator image to registry.datadoghq.com
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Address review: flatten key, validate mode, improve docs
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update failure message to be consistent with datadog-agent, documentation
  charts/datadog/templates/_helpers.tpl
Due: none

Update CHANGELOG with upgrade instructions for 2.12.3
  charts/observability-pipelines-worker/CHANGELOG.md
Due: none

Improve docs: capitalize Agent, align site names, clarify mechanism
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
Due: none

Apply suggestion from @taylorchandleryoung
  charts/observability-pipelines-worker/CHANGELOG.md
Due: none

dca configmap configuration
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/_ac-agent-sidecar-env.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e
