Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

[observability-pipelines-worker] 2.20.4 release (#2843)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update FIPS proxy version references to 1.1.29 (#2842)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/sizing-map.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/_metastore-deployment.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/control-plane-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/intake-deployment.yaml
  charts/cloudprem/templates/janitor-deployment.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/searcher-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

Remove -kubeVersion
  charts/cloudprem/Chart.yaml
Due: none

Update CloudPrem Helm chart (#2846)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/sizing-map.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/_metastore-deployment.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/control-plane-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/intake-deployment.yaml
  charts/cloudprem/templates/janitor-deployment.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/searcher-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

Allow specifying priorityClassName
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Move priorityClassName outside deployment config
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
Due: none

quote priority class name value
  charts/datadog-operator/templates/deployment.yaml
Due: none

Allow specifying priorityClassName in datadog-operator (#2847)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Add component to CloudPrem OTLP resources
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
Due: none

Add component to CloudPrem OTLP resources (#2831)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
Due: none

Rely on dd-octo-sts for GITHUB token instead
  .github/chainguard/self.gitlab.read.sts.yaml
  .gitlab-ci.yml
Due: none

Operator Release CRDs ownership
  .github/CODEOWNERS
Due: none

Operator Release CRDs ownership (#2851)
  .github/CODEOWNERS
Due: none

Include Agent Delivery for Baseline tests codeowners
  .github/CODEOWNERS
Due: none

Include Agent Delivery for Baseline tests codeowners (#2852)
  .github/CODEOWNERS
Due: none

chore(csi): bump driver image to 1.4.0
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_annotation_and_securitycontext.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_default.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_nodeselector_and_nodeaffinity.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_resources.yaml
Due: e2e_deps, e2e

Update FIPS proxy version references to 1.1.30
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[OTAGENT-1282] Pre-create the auth-token mountpoint in the config volume
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_containers-init-linux.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_cws_in_security_agent.yaml
  test/datadog/baseline/manifests/compliance_run_in_system_probe_only.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/gdc_compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/gpu_monitoring_cos.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
Due: e2e_deps, e2e

Enabled docs clustering
  charts/cloudprem/values.yaml
Due: none

feat(csi): support private APM registries (#2834)
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_annotation_and_securitycontext.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_default.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_nodeselector_and_nodeaffinity.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_resources.yaml
  test/datadog-csi-driver/baseline_test.go
Due: e2e_deps, e2e

chore(datadog): bump CSI driver chart to 0.17.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

Add configurable custom workload targets to instrumentation CRD
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/instrumentation_crd_test.go
Due: e2e_deps, e2e

feat(datadog): expose otel-agent sync-delay as a configurable value
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

docs(datadog): regenerate README with syncDelay value and fix CSI baseline whitespace
  charts/datadog/README.md
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
Due: e2e_deps, e2e

Gate the init-volume arg change out of GKE GDC too
  charts/datadog/templates/_containers-init-linux.yaml
  test/datadog/baseline/manifests/gdc_compliance_run_in_system_probe.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
Due: e2e_deps, e2e

add docs link to changelog
  charts/datadog/CHANGELOG.md
Due: e2e

chore(datadog): bump CSI driver chart to 0.17.0 (#2860)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

[synthetics-private-location] bump image version to 1.72.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

[synthetics-private-location] bump image version to 1.72.0 (#2862)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none
