Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Update datadog-operator chart for 1.29.0-rc.3 (#2828)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

allow helm to use logging seccomp
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

add logging to seccomp profile hash name and fallback warning message
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host-profiler-init.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

[PROF-15317] allow helm to use logging seccomp (#2775)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host-profiler-init.yaml
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

add SELinuxOptions.type defaults and setting for host profiler
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

Apply suggestions from code review
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

[PROF-15441][Host Profiler] add SELinuxOptions.type defaults and setting for host profiler (#2808)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

[synthetics-private-location] bump image version to 1.71.0
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

[observability-pipelines-worker] 2.20.3 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[synthetics-private-location] bump image version to 1.71.0 (#2829)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

[observability-pipelines-worker] 2.20.3 release (#2830)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

feat(csi): support private APM registries
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/templates/_helpers.tpl
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline_test.go
Due: e2e_deps, e2e

chore(csi): bump chart to 0.17.0
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
Due: none

fix(csi): preserve legacy pull secrets
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline_test.go
Due: e2e_deps, e2e

fix(csi): skip auth when APM is disabled
  charts/datadog-csi-driver/templates/daemonset.yaml
  test/datadog-csi-driver/baseline_test.go
Due: e2e_deps, e2e

Fix CONS-7733 duplicate-env check to cover global env overrides
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_container-agent.yaml
Due: e2e

test: fix yaml-mapper fixtures for autoMultiLineDetection default flip
  test/datadog/yamlmapper/baseline/values/admission-controller-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-port-enabled-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-agent-features-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-checks-values.yaml
  test/datadog/yamlmapper/baseline/values/default-minimal-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-hostport-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-uds-values.yaml
  test/datadog/yamlmapper/baseline/values/global-credentials-existing-secret-values.yaml
  test/datadog/yamlmapper/baseline/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/baseline/values/global-settings-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/baseline/values/override-node-agent-values.yaml
Due: e2e_deps, e2e

test: also enable logCollection so mapper-set autoMultiLineDetection takes effect
  test/datadog/yamlmapper/baseline/values/admission-controller-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-port-enabled-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-agent-features-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-checks-values.yaml
  test/datadog/yamlmapper/baseline/values/default-minimal-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-hostport-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-uds-values.yaml
  test/datadog/yamlmapper/baseline/values/global-credentials-existing-secret-values.yaml
  test/datadog/yamlmapper/baseline/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/baseline/values/global-settings-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/baseline/values/override-node-agent-values.yaml
Due: e2e_deps, e2e

chore(crds): release-operator.sh for v1.29.0 (#2837)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Due: none

chore(operator): pin datadog-crds 2.23.0 and regenerate Chart.lock + baselines
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[datadog-operator] Update for operator v1.29.0 (#2838)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

chore: enforce boolean type
  charts/datadog/README.md
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/instrumentation_crd_test.go
Due: e2e_deps, e2e

chore(datadog): enforce minimum agent version for instrumentation crd controller enablement
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/instrumentation_crd_test.go
Due: e2e_deps, e2e

[CONTP-1968] Require Agent 7.82 to enable the DatadogInstrumentation controller (#2836)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/instrumentation_crd_test.go
Due: e2e_deps, e2e

Add NOTES.txt notice for autoMultiLineDetection default flip
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
Due: e2e

Update FIPS proxy version references to 1.1.29
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.20.4 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none
