Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

Update index.yaml
  index.yaml
Due: none

change injectionMode default value from 'auto' to ''
  charts/datadog/values.yaml
Due: e2e_deps, e2e

update min supported operator version
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
Due: none

address review comments, update user flow, add supported configs
  charts/datadog/docs/Migration_Helm_to_Operator.md
Due: none

address review comments
  charts/datadog/docs/Migration_Helm_to_Operator.md
  charts/datadog/docs/Migration_Helm_to_Operator_Advanced.md
Due: none

Rename the flag.
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Rename the flag. (#2329)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Format changelog entry for kube_service ignore readiness
  charts/datadog/CHANGELOG.md
Due: e2e

Format changelog entry for kube_service ignore readiness (#2330)
  charts/datadog/CHANGELOG.md
Due: e2e

fix e2e jobs to run on main
  .gitlab-ci.yml
Due: none

allow default value '' in the enum
  charts/datadog/README.md
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add regression test
  test/datadog/apm_instrumentation_test.go
Due: e2e_deps, e2e

Remove RBAC grants when App & API Protection is not enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

revert process-agent stripProcessArgs change
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

skip strip_process_args in agent config
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

enable strict
  .github/workflows/go-test-yamlmapper.yaml
Due: none

hardcode agent image tags and update test filenames
  test/datadog/yamlmapper/baseline/dda/admission-controller-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-logs-process-dda.yaml
  test/datadog/yamlmapper/baseline/dda/apm-port-enabled-dda.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-agent-features-dda.yaml
  test/datadog/yamlmapper/baseline/dda/cluster-checks-dda.yaml
  test/datadog/yamlmapper/baseline/dda/default-minimal-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-hostport-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dogstatsd-uds-dda.yaml
  test/datadog/yamlmapper/baseline/dda/full-observability-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-credentials-existing-secret-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-envfrom-dda.yaml
  test/datadog/yamlmapper/baseline/dda/global-settings-dda.yaml
  test/datadog/yamlmapper/baseline/dda/multiple-unsupported-keys-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-agent-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-cluster-checks-runner-dda.yaml
  test/datadog/yamlmapper/baseline/dda/override-node-agent-dda.yaml
  test/datadog/yamlmapper/baseline/dda/unsupported-key-dda.yaml
  test/datadog/yamlmapper/baseline/values/admission-controller-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-logs-process-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-logs-values.yaml
  test/datadog/yamlmapper/baseline/values/apm-port-enabled-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-agent-features-values.yaml
  test/datadog/yamlmapper/baseline/values/cluster-checks-values.yaml
  test/datadog/yamlmapper/baseline/values/default-minimal-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-hostport-values.yaml
  test/datadog/yamlmapper/baseline/values/dogstatsd-uds-values.yaml
  test/datadog/yamlmapper/baseline/values/full-observability-values.yaml
  test/datadog/yamlmapper/baseline/values/global-credentials-existing-secret-values.yaml
  test/datadog/yamlmapper/baseline/values/global-envfrom-values.yaml
  test/datadog/yamlmapper/baseline/values/global-settings-values.yaml
  test/datadog/yamlmapper/baseline/values/multiple-unsupported-keys-values.yaml
  test/datadog/yamlmapper/baseline/values/npm-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-agent-values.yaml
  test/datadog/yamlmapper/baseline/values/override-cluster-checks-runner-values.yaml
  test/datadog/yamlmapper/baseline/values/override-node-agent-values.yaml
  test/datadog/yamlmapper/baseline/values/system-probe-checks-values.yaml
  test/datadog/yamlmapper/baseline/values/unsupported-key-values.yaml
  test/datadog/yamlmapper/helpers.go
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

[ACTP] Update PAR helm description
  charts/private-action-runner/Chart.yaml
Due: none

bump
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

[ACTP] Update PAR helm description (#2334)
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Add deployment annotations and labels to private-action-runner chart
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/values.schema.json
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/baseline_test.go
Due: e2e_deps, e2e

Add deployment annotations and labels to private-action-runner chart (#2335)
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/templates/deployment.yaml
  charts/private-action-runner/values.schema.json
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/baseline_test.go
Due: e2e_deps, e2e

Remove DD_APM_INSTRUMENTATION_INJECTION_MODE from test manifests
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

bump up chart version
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

demo
  charts/datadog/demo/migration-flow.md
  charts/datadog/demo/migration-standard.yaml
  charts/datadog/demo/migration-unsupported.yaml
Due: none

remove env var from npm_daemonset manifest
  charts/datadog/README.md
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
Due: e2e_deps, e2e

Automatically pass API/App keys to operator subchart
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

fix e2e jobs to run on main (#2332)
  .gitlab-ci.yml
Due: none

Remove envvar ovveride for controlling whether process checks run in core or process agent
  charts/datadog/templates/_helpers.tpl
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

Fix env var conditional
  charts/datadog/templates/_processes-common-env.yaml
Due: none

[ACTP] Ignore .zed config
  .gitignore
Due: none

[ACTP] Ignore .zed config (#2336)
  .gitignore
Due: none

bump opw version to 2.13.1
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

bump opw version to 2.13.1 (#2340)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[CNM] Add dnsMonitoringPorts to helm chart
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
