Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Fail fast when installAgents is true but no API key is configured
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Keep agent-install name label within 63-char Kubernetes limit
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Propagate imagePullSecrets to agent-install hook Job
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Preserve agent-install suffix when generating hook names
  charts/datadog-operator/templates/_helpers.tpl
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Anchor appSecret matching to the exact YAML key
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Fix test assertion for anchored appSecret awk pattern
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Treat blank lines as part of appSecret block in awk parser
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Bump chart version and regenerate README
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none

Add Private Action Runner support for node agent (DaemonSet)
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

Extend registry migration auto mode to EU1 (datadoghq.eu, apm disabled)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

add admission controller probe configuration
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Add system-probe-lite support for discovery
  charts/datadog/ci/discovery-system-probe-lite-values.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Fix discovery enabled logic and deduplicate system-probe feature lists
  test/datadog/system_probe_command_test.go
Due: e2e_deps, e2e

[datadog] Add sleep infinity fallback for discovery enabled by default
  charts/datadog/ci/discovery-spl-enabled-by-default-values.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Add tests for discovery system-probe-lite command logic
  test/datadog/baseline/manifests/discovery_spl_enabled_by_default.yaml
  test/datadog/baseline/manifests/discovery_spl_explicit.yaml
  test/datadog/baseline/values/discovery_spl_enabled_by_default.yaml
  test/datadog/baseline/values/discovery_spl_explicit.yaml
  test/datadog/system_probe_command_test.go
Due: e2e_deps, e2e

[datadog] Update discovery baseline manifests
  test/datadog/baseline/manifests/discovery_spl_enabled_by_default.yaml
  test/datadog/baseline/manifests/discovery_spl_explicit.yaml
Due: e2e_deps, e2e

[datadog] Deduplicate system-probe-lite command in container template
  charts/datadog/templates/_container-system-probe.yaml
Due: none

[datadog] Regenerate README with helm-docs for new discovery values
  charts/datadog/README.md
Due: e2e

Default remote configuration on cluster check runners to false
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
Due: e2e_deps, e2e

Replace Helm hooks with regular resources for EKS add-on compatibility
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Clean up installer RBAC after agent-install Job completes
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Wait for RBAC propagation before applying agent config
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Fix RBAC cleanup ordering and ignore failures
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Delete ServiceAccount last during RBAC cleanup
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Remove self-cleanup from installer Job
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Append release revision to installer Job name
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Reserve room for revision suffix in installer Job name
  charts/datadog-operator/templates/_helpers.tpl
Due: none

add priorityClassName support for CSI driver
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
Due: none

[observability-pipelines-worker] 2.14.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

clean
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

Revert "Release Operator v1.25.0-rc.1 (#2475)"
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Extend registryMigrationMode auto to US1/US5 (DD_REGISTRY_OVERRIDE_DEFAULT)
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

update test baseline
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Fix chart version to 2.19.2 and update changelog
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none

Fix changelog: remove reverted 2.20.0-dev.1 entry, improve 2.20.0 description
  charts/datadog-operator/CHANGELOG.md
Due: none

Honor serviceAccount.create and rbac.create for agent-install RBAC
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Truncate Job name after appending release revision
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Deploy PAR as standalone sidecar container in node agent DaemonSet
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-private-action-runner.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/private-action-runner-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Enable remote configuration by default on cluster check runners (#2473)
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none
