Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

Continue on failed unit tests (#2926)
  scripts/release-operator.sh
Due: none

fix(datadog-operator): grant csidrivers read RBAC when CSI is off
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

chore(datadog-operator): describe the csidrivers RBAC fix in the changelog
  charts/datadog-operator/CHANGELOG.md
Due: none

chore(datadog-operator): drop the comment from the generated clusterrole
  charts/datadog-operator/templates/clusterrole.yaml
Due: none

fix(datadog-operator): grant csidrivers read RBAC when CSI is off (#2923)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

preserve nonroot settings even when securityContext is overriden as null
  charts/datadog/templates/_container-host-profiler.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

add feature setting to run the profiler under dd-agent
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

[Host Profiler][PROF-15459] add feature option to deploy as dd-agent (#2894)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

Add helm action job permissions
  charts/datadog/templates/cluster-agent-helm-actions-rbac.yaml
Due: none

Add resource access to the job
  charts/datadog/templates/cluster-agent-helm-actions-rbac.yaml
Due: none

Use separate flag for helm actions
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-helm-actions-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Bump version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  test/datadog-csi-driver/baseline/CSI_Driver_annotation_and_securitycontext.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_default.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_nodeselector_and_nodeaffinity.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_resources.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Increase timeout to avoid failing test
  test/common/common.go
Due: e2e_deps, e2e

Hide helm action under kube action as well
  charts/datadog/templates/cluster-agent-helm-actions-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add test
  test/datadog/kubernetes_actions_helm_actions_test.go
Due: e2e_deps, e2e

docs
  charts/datadog/README.md
Due: e2e

feat(datadog): mirror the system-probe log level onto the Agent container
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/per_container_log_level.yaml
  test/datadog/baseline/values/per_container_log_level.yaml
Due: e2e_deps, e2e

feat(datadog): mirror remote-agent-only settings onto the Agent container
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  test/datadog/baseline/manifests/compliance_in_security_agent.yaml
  test/datadog/baseline/manifests/network_path.yaml
  test/datadog/baseline/manifests/per_container_log_level.yaml
  test/datadog/baseline/values/compliance_in_security_agent.yaml
  test/datadog/baseline/values/network_path.yaml
Due: e2e_deps, e2e

feat(datadog): deprecate per-remote-agent env and fix compliance on GKE
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/gdc_compliance.yaml
  test/datadog/baseline/manifests/gke_autopilot_compliance.yaml
  test/datadog/baseline/values/gdc_compliance.yaml
  test/datadog/baseline/values/gke_autopilot_compliance.yaml
Due: e2e_deps, e2e

feat(datadog): deprecate per-remote-agent env and fix compliance on GKE (#2900)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/gdc_compliance.yaml
  test/datadog/baseline/manifests/gke_autopilot_compliance.yaml
  test/datadog/baseline/values/gdc_compliance.yaml
  test/datadog/baseline/values/gke_autopilot_compliance.yaml
Due: e2e_deps, e2e

feat(datadog): mirror remote-agent-only settings onto the Agent container (#2901)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/compliance_in_security_agent.yaml
  test/datadog/baseline/manifests/gdc_compliance.yaml
  test/datadog/baseline/manifests/gke_autopilot_compliance.yaml
  test/datadog/baseline/manifests/network_path.yaml
  test/datadog/baseline/manifests/per_container_log_level.yaml
  test/datadog/baseline/values/compliance_in_security_agent.yaml
  test/datadog/baseline/values/gdc_compliance.yaml
  test/datadog/baseline/values/gke_autopilot_compliance.yaml
  test/datadog/baseline/values/network_path.yaml
Due: e2e_deps, e2e

feat(datadog): set per-remote-agent log levels on the Agent container (#2902)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/compliance_in_security_agent.yaml
  test/datadog/baseline/manifests/gdc_compliance.yaml
  test/datadog/baseline/manifests/gke_autopilot_compliance.yaml
  test/datadog/baseline/manifests/network_path.yaml
  test/datadog/baseline/manifests/per_container_log_level.yaml
  test/datadog/baseline/values/compliance_in_security_agent.yaml
  test/datadog/baseline/values/gdc_compliance.yaml
  test/datadog/baseline/values/gke_autopilot_compliance.yaml
  test/datadog/baseline/values/network_path.yaml
  test/datadog/baseline/values/per_container_log_level.yaml
Due: e2e_deps, e2e

CONTINT-5630: Add helm action job permissions (#2928)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-helm-actions-rbac.yaml
  charts/datadog/values.yaml
  test/common/common.go
  test/datadog-csi-driver/baseline/CSI_Driver_annotation_and_securitycontext.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_default.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_nodeselector_and_nodeaffinity.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_resources.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog/kubernetes_actions_helm_actions_test.go
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

docs(datadog): name DD_SYSTEM_PROBE_LOG_LEVEL alongside the other three
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

fix(datadog): grant DCA access to the sidecar secret
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
Due: e2e_deps, e2e

fix(datadog): grant DCA access to the sidecar secret (#2930)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/sizing-map.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/_metastore-deployment.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/control-plane-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/intake-deployment.yaml
  charts/cloudprem/templates/janitor-deployment.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/searcher-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

Update CloudPrem Helm chart (#2931)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/sizing-map.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/_metastore-deployment.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/control-plane-deployment.yaml
  charts/cloudprem/templates/indexer-statefulset.yaml
  charts/cloudprem/templates/intake-deployment.yaml
  charts/cloudprem/templates/janitor-deployment.yaml
  charts/cloudprem/templates/job-create-indices.yaml
  charts/cloudprem/templates/job-create-sources.yaml
  charts/cloudprem/templates/searcher-statefulset.yaml
  charts/cloudprem/values.yaml
Due: none

[NETPATH-1165] Add support for configuring Network Path filters
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-process-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/network_path_test.go
  test/datadog/values/network-path-filters-values.yaml
  test/e2e/datadog/e2e_gke_autopilot_systemprobe_test.go
  test/e2e/datadog/e2e_gke_test.go
  test/e2e/datadog/network_path_filters_e2e_test.go
Due: e2e_deps, e2e

Checklist item: run make update-test-baselines.
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[NETPATH-1165] Propagate Network Path enablement to system-probe
  charts/datadog/templates/_container-system-probe.yaml
  test/datadog/network_path_test.go
  test/e2e/datadog/network_path_filters_e2e_test.go
Due: e2e_deps, e2e

[NETPATH-1165] Update Datadog chart README badge
  charts/datadog/README.md
Due: e2e

docs(datadog): announce the 7.85 breaking change for per-container env
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/values.yaml
Due: e2e_deps, e2e

docs(datadog): move the per-container env notice to its own release
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/values.yaml
Due: e2e_deps, e2e

chore(datadog): keep 3.249.0 in this PR
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

chore(datadog): reword the 7.85 breaking-change changelog entry
  charts/datadog/CHANGELOG.md
Due: e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
