Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

[datadog/datadog-operator] Update from operator 1.26.0-rc.2 (#2600)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

[datadog] Mount datadog-yaml ConfigMap on private-action-runner sidecar
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/private-action-runner-customagentconfig-values.yaml
  charts/datadog/templates/_container-private-action-runner.yaml
Due: e2e_deps, e2e

Datadog Operator Release Scripts
  scripts/release-operator.sh
  scripts/update-clusterrole.py
Due: none

Simplify RBAC python script
  scripts/update-clusterrole.py
Due: none

Revert "[datadog/datadog-operator] Update from operator 1.26.0-rc.2 (#2600)"
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

./scripts/release-operator.sh operator --operator-version 1.26.0-rc.2
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

testwasher: fix multi-level flaky propagation; improve E2E test correctness
  test/e2e/datadog/e2e_k8ssuite_test.go
  test/scripts/testwasher.py
Due: e2e_deps, e2e

fix: datadogChartPath signature to maintain backward compat with other callers
  test/e2e/datadog/e2e_k8ssuite_test.go
Due: e2e_deps, e2e

testwasher: fix multi-level flaky propagation and E2E test correctness (#2603)
  test/e2e/datadog/e2e_k8ssuite_test.go
  test/scripts/testwasher.py
Due: e2e_deps, e2e

Move Orchestrator RBAC to standalone ClusterRole for DCA or CCR
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/templates/orchestrator-explorer-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add Cluster Check Dispatching to Orchestrator configs
  charts/datadog/templates/_orchestrator_explorer_config.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

feat(datadog): default dataPlane.dogstatsd.enabled to true
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add missing RBAC to orchestrator ClusterRole
  charts/datadog/templates/orchestrator-explorer-rbac.yaml
Due: none

[GKE Autopilot] Add agent-data-plane to WorkloadAllowlist
  charts/datadog/templates/gke_autopilot_allowlist_synchronizer.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_adp.yaml
  test/datadog/baseline/values/gke_autopilot_workloadallowlist_adp.yaml
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

[GKE Autopilot] Test AllowlistSynchronizer includes v1.0.4 when ADP enabled
  test/datadog/gke_autopilot_workloadallowlist_test.go
Due: e2e_deps, e2e

Bump datadog chart to 3.201.9 and add CHANGELOG entry
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

Update datadog README.md for chart version 3.201.9
  charts/datadog/README.md
Due: e2e

Reuse agent version helper for discovery defaulting
  charts/datadog/templates/_helpers.tpl
Due: none

Add k8s remediation RBAC for PAR in datadog chart
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

bump minor instead
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[INPLAT-1004] Expose registry allow list for DatadogLibrary CSI volumes
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline_test.go
  test/datadog-csi-driver/manifests/registry_allow_list_set.yaml
Due: e2e_deps, e2e

update docs with "helm-docs"
  charts/datadog-csi-driver/README.md
Due: none

Pass CSI registry allow list to cluster-agent admission webhook
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

Bump datadog chart version to 3.192.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

Bump datadog-csi-driver dependency to 0.10.0 and regenerate docs
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

Revert datadog-csi-driver dependency to 0.9.0
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

Move registry allow list from CSI chart to main datadog chart
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog-csi-driver/baseline_test.go
  test/datadog-csi-driver/manifests/registry_allow_list_set.yaml
Due: e2e_deps, e2e

Enforce registry allow list in both webhook and CSI driver
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog/charts/datadog-csi-driver-0.10.0.tgz
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fix helm template rendering when chart is used standalone
  charts/datadog-csi-driver/values.yaml
  charts/datadog/charts/datadog-csi-driver-0.10.0.tgz
Due: none

Update README.md
  charts/datadog-csi-driver/README.md
  charts/datadog/README.md
Due: e2e

[ACTP] Add k8s remediation RBAC for Private Action Runner (#2592)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

added host profiler specific fqdn to agent's cilium: - sourcemap-intake.%site for symbols - otlp.%site for metrics
  charts/datadog/templates/agent-cilium-network-policy.yaml
Due: none

added standalone-specific necessary syscalls: the resourcedetection processor uses syscalls like `sysinfo` that were not present in the original allow-list that was bundled-centric.
  charts/datadog/templates/host-profiler-security-configmap.yaml
Due: none

Update datadog-csi-driver chart dependency version to fix a CSI Driver startup failure bug on gke autopilot. [Release v1.2.2](https://github.com/DataDog/datadog-csi-driver/pull/78) (#2597)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

Operator Release worker perms
  .github/chainguard/self.operatorrelease-prod.sts.yaml
  .github/chainguard/self.operatorrelease-staging.sts.yaml
Due: none

Operator Release worker perms (#2609)
  .github/chainguard/self.operatorrelease-prod.sts.yaml
  .github/chainguard/self.operatorrelease-staging.sts.yaml
Due: none

Remove mistakenly committed datadog csi dependency archive
  charts/datadog/charts/datadog-csi-driver-0.10.0.tgz
Due: none
