Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Enable DDAI flag and crd
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Expose OTLP debug configuration
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Enable DatadogCSIDriver CRD for operator v1.27.0
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

enable datadoginstrumentations crd in direct chart instead of operator
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

[datadog] docs: recommend explicit cpu limits on high-core-count nodes
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/README.md.gotmpl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

feat: Add revisionHistoryLimit to datadog-operator Helm chart
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/ci/kubeconform-values.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

[datadog] Add RBAC for Gateway API, service mesh, and ingress controller CRDs
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/orchestrator-explorer-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Fix network CRD RBAC: add get verb and collection env vars
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: e2e

[datadog] Address review: punctuation in networkCRDs description
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add RBAC for network topology CRD collection (#2541)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/orchestrator-explorer-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add GitHub teams to Jira projects mapping
  .github/config/github_jira_map.yaml
Due: none

Add GitHub teams to Slack channels mapping
  .github/config/github_slack_map.yaml
Due: none

[datadog-operator] Release 1.27.1 addressing CVE-2026-39821
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Add GitHub teams to Slack and Jira mapping (#2681)
  .github/config/github_jira_map.yaml
  .github/config/github_slack_map.yaml
Due: none

add ddi crd rbac to cluster agent by default
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: none

chore: update datadog-crd requirement
  charts/datadog/requirements.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

chore: add space to end
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
Due: none

gate behind instrumentationCrd enabled value
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

chore: update requirements lock
  charts/datadog/requirements.lock
Due: e2e

[CONTP-1710] Install DatadogInstrumentation CRD and add RBAC permissions when controller is enabled (#2717)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog-operator] Release 1.27.1 addressing CVE-2026-39821 (#2721)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-operator] Resume devel cycle
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-operator] Resume devel cycle (#2724)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.17.1 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[observability-pipelines-worker] 2.17.1 release (#2725)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[datadog] Bump default AppSec sidecar image tag to v2.8.2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/appsec_injector_test.go
Due: e2e_deps, e2e

Clarify datadog.env and datadog.envDict that env vars set with these options only propagate to the node Agent containers
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add kubernetes-actions feature + required rbac
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-kubeactions-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Gate to version 7.79 and above
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-kubeactions-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

bump get-agent-version fallback to 7.80.1
  charts/datadog/templates/_helpers.tpl
Due: none

feat(datadog): allow overriding agent container command
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/agent-with-command-override-values.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

bump chart version to 3.223.2
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e
