Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Revert "Remove envvar ovveride for controlling whether process checks run in core or process agent"
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

update paths-ignore for no-ci
  .github/workflows/no-ci.yaml
Due: none

update paths-ignore for no-ci (#2403)
  .github/workflows/no-ci.yaml
Due: none

Add Helm-Operator migration docs (#2235)
  charts/datadog/docs/Migration_Helm_to_Operator.md
Due: none

[ACTP] Install the private action runner in the cluster agent via helm charts
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

enable remote config when PAR is enabled
  charts/datadog/templates/_helpers.tpl
Due: none

enable cluster agent in deploy
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

Revert "enable cluster agent in deploy"
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

use k8s secret
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

regen docs
  charts/datadog/README.md
Due: e2e

default self enroll to true
  charts/datadog/values.yaml
Due: e2e_deps, e2e

PR feedbacks: config validation
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

add unittests
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

update doc link
  charts/datadog/templates/NOTES.txt
Due: none

rename to identityFromExistingSecret
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

fix build
  charts/datadog/templates/NOTES.txt
Due: none

[observability-pipelines-worker] Add persistentVolumeClaimRetentionPolicy support for StatefulSet (#2389)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/statefulset.yaml
  charts/observability-pipelines-worker/values.yaml
Due: none

[datadog] Add registry.datadoghq.com to available registries documentation (#2398)
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Revert "[datadog] Add registry.datadoghq.com to available registries document…"
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

fix chart versions
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
Due: none

[observability-pipelines-worker] Add persistentVolumeClaimRetentionPolicy support for StatefulSet (#2404)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/statefulset.yaml
  charts/observability-pipelines-worker/values.yaml
Due: none

Revert "[datadog] Add registry.datadoghq.com to available registries document…" (#2405)
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

helm docs update
  charts/datadog/values.yaml
Due: e2e_deps, e2e

add failure gate gke autopilot
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
Due: none

update docs
  charts/datadog/values.yaml
Due: e2e_deps, e2e

update docs
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[CNM] Add dnsMonitoringPorts to helm chart
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

fix readme
  charts/datadog/README.md
Due: e2e

[datadog] Add namespace restriction support to kubernetes_state_core check
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add datadog extension to daemon otel-agent
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/templates/_container-otel-agent.yaml
Due: e2e_deps, e2e

Update docs
  charts/datadog/README.md
Due: e2e

[datadog] Add CI values to test kubeStateMetricsCore namespace restriction
  charts/datadog/ci/ksm-core-namespaces-values.yaml
Due: none

Add appProtocol to OTLP service ports
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/agent-services.yaml
Due: e2e_deps, e2e

Revert "chore: update charts"
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
Due: none
