Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

[datadog] yamlmapper: add global tag/config equivalence test
  test/datadog/yamlmapper/baseline/dda/global-tags-config-dda.yaml
  test/datadog/yamlmapper/baseline/values/global-tags-config-values.yaml
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

[datadog] yamlmapper: add OTLP ingest equivalence test
  test/datadog/yamlmapper/baseline/dda/otlp-ingest-dda.yaml
  test/datadog/yamlmapper/baseline/values/otlp-ingest-values.yaml
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

[datadog] yamlmapper: add CSPM (compliance) equivalence test
  test/datadog/yamlmapper/baseline/dda/cspm-compliance-dda.yaml
  test/datadog/yamlmapper/baseline/values/cspm-compliance-values.yaml
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/types.go
Due: e2e_deps, e2e

[datadog] yamlmapper: add secret-backend and ASM equivalence tests
  test/datadog/yamlmapper/baseline/dda/asm-features-dda.yaml
  test/datadog/yamlmapper/baseline/dda/secret-backend-dda.yaml
  test/datadog/yamlmapper/baseline/values/asm-features-values.yaml
  test/datadog/yamlmapper/baseline/values/secret-backend-values.yaml
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

[datadog] yamlmapper: add SBOM equivalence test + derive sbom.enabled
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/baseline/dda/sbom-dda.yaml
  test/datadog/yamlmapper/baseline/values/sbom-values.yaml
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/utils.go
Due: e2e_deps, e2e

[datadog] yamlmapper: map providers.* to cluster-provider annotation (skipped on kind)
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/baseline/dda/providers-dda.yaml
  test/datadog/yamlmapper/baseline/values/providers-values.yaml
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

[datadog] yamlmapper: add FIPS proxy equivalence test
  test/datadog/yamlmapper/baseline/dda/fips-proxy-dda.yaml
  test/datadog/yamlmapper/baseline/values/fips-proxy-values.yaml
  test/datadog/yamlmapper/test_cases.go
Due: e2e_deps, e2e

[datadog] yamlmapper: cover dataPlane, dynamicInstrumentation, autoscaling, secretBackend.refreshInterval
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  test/datadog/yamlmapper/baseline/dda/agent-data-plane-dda.yaml
  test/datadog/yamlmapper/baseline/dda/autoscaling-workload-dda.yaml
  test/datadog/yamlmapper/baseline/dda/dynamic-instrumentation-dda.yaml
  test/datadog/yamlmapper/baseline/values/agent-data-plane-values.yaml
  test/datadog/yamlmapper/baseline/values/autoscaling-workload-values.yaml
  test/datadog/yamlmapper/baseline/values/dynamic-instrumentation-values.yaml
  test/datadog/yamlmapper/baseline/values/secret-backend-values.yaml
  test/datadog/yamlmapper/test_cases.go
  test/datadog/yamlmapper/types.go
Due: e2e_deps, e2e

Mount run socket for host profiler/ ddot
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_container-otel-agent.yaml
Due: none

feedback
  charts/datadog/templates/_container-otel-agent.yaml
Due: none

[datadog] Add apiKeyOnlyEnrollment for Private Action Runner
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/private-action-runner-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog] Bump chart to 3.231.6, add CHANGELOG entry
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

[datadog] Update README and version badge for 3.231.6
  charts/datadog/README.md
Due: e2e

fix ci
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_otel_feature_gates.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

[datadog] Add apiKeyOnlyEnrollment for Private Action Runner (#2803)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/private-action-runner-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/_metastore-deployment.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/compactor-pdb.yaml
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/metastore-deployment.yaml
  charts/cloudprem/templates/metastore-ro-deployment.yaml
  charts/cloudprem/templates/metastore-ro-pdb.yaml
  charts/cloudprem/templates/service.yaml
  charts/cloudprem/values.yaml
Due: none

Update CloudPrem Helm chart to 0.4.6 (#2807)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/_metastore-deployment.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/compactor-pdb.yaml
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/metastore-deployment.yaml
  charts/cloudprem/templates/metastore-ro-deployment.yaml
  charts/cloudprem/templates/metastore-ro-pdb.yaml
  charts/cloudprem/templates/service.yaml
  charts/cloudprem/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

gke
  charts/datadog/templates/gke_autopilot_allowlist_synchronizer.yaml
Due: none

DDOT: Explicitely disable standalone mode
  charts/datadog/templates/_container-otel-agent.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
Due: none

(update baselines)
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_otel_feature_gates.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/custom-service-account.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/existing-service-account.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets-with-custom-sa.yaml
  test/private-action-runner/__snapshot__/image-pull-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

[datadog] Add endpointslices collector to kubernetes_state_core
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Due: e2e_deps, e2e

add SELinuxOptions.type defaults and setting for host profiler
  charts/datadog/values.yaml
  test/datadog/host_profiler_test.go
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.20.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[observability-pipelines-worker] 2.20.0 release (#2811)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

remove
  charts/datadog/templates/_container-otel-agent.yaml
Due: none

Migrate CSI registrar image to registry.k8s.io (#2781)
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_annotation_and_securitycontext.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_default.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_allowlist_synchronizer.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_gke_autopilot_workloadallowlist.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_legacy_gke_autopilot.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_nodeselector_and_nodeaffinity.yaml
  test/datadog-csi-driver/baseline/CSI_Driver_resources.yaml
  test/datadog-csi-driver/baseline_test.go
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/hpa.yaml
  charts/cloudprem/values.yaml
Due: none

[byoc] Update CloudPrem Helm chart to 0.4.7 (#2812)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/templates/compactor-deployment.yaml
  charts/cloudprem/templates/configmap.yaml
  charts/cloudprem/templates/hpa.yaml
  charts/cloudprem/values.yaml
Due: none

2.20.1: add support for DD_OP_GRACEFUL_SHUTDOWN_LIMIT_SECS
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: none

add a default of 30s
  charts/observability-pipelines-worker/templates/_pod.tpl
Due: none

update readme correctly
  charts/observability-pipelines-worker/README.md
Due: none

remove superfluous default
  charts/observability-pipelines-worker/templates/_pod.tpl
Due: none

fix lint error
  charts/observability-pipelines-worker/values.yaml
Due: none

[observability-pipelines-worker] add support for DD_OP_GRACEFUL_SHUTDOWN_LIMIT_SECS (#2814)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
