Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

Change check-cluster-name regex to allow underscores and starting with a digit, add relevant test
  charts/datadog/ci/strange-valid-cluster-name.yaml
  charts/datadog/templates/_helpers.tpl
Due: none

Update failure message to be consistent with datadog-agent, documentation
  charts/datadog/templates/_helpers.tpl
Due: none

Fix multiline failure message
  charts/datadog/templates/_helpers.tpl
Due: none

Bump datadog chart to 3.201.4
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[datadog] Change check-cluster-name regex (#2428)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/strange-valid-cluster-name.yaml
  charts/datadog/templates/_helpers.tpl
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

[observability-pipelines-worker] bump to 2.15.1
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

[observability-pipelines-worker] bump to 2.15.1 (#2570)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

test: add flake.Mark helper package
  test/pkg/flake/flake.go
Due: e2e_deps, e2e

test: mark TestGenericK8sAutopilot as flaky
  test/e2e/datadog/e2e_gke_autopilot_test.go
Due: e2e_deps, e2e

ci: skip flaky E2E tests on merge queue branches via GO_TEST_SKIP_FLAKE
  .gitlab-ci.yml
Due: none

ci: forward GO_TEST_SKIP_FLAKE to go test in Makefile
  Makefile
Due: none

test: use upstream flake.Mark from datadog-agent/pkg/util/testutil
  test/e2e/datadog/e2e_gke_autopilot_test.go
  test/go.mod
  test/go.sum
  test/pkg/flake/flake.go
Due: e2e_deps, e2e

ci: add TestWasher to allow known-flaky E2E test failures
  .gitlab-ci.yml
  Makefile
  test/scripts/testwasher.py
Due: e2e_deps, e2e

Makefile: restore blank line before Local profile section
  Makefile
Due: none

testwasher: handle package-level failures and subtest flaky inheritance
  test/scripts/testwasher.py
Due: e2e_deps, e2e

fix deployment issues when using latest image tag
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Due: e2e_deps, e2e

fix small typo with the added change
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Due: none

testwasher: fix pipefail, package-level fail, parent propagation; mark flaky subtests
  Makefile
  test/e2e/datadog/e2e_gke_autopilot_test.go
  test/e2e/datadog/e2e_k8ssuite_test.go
  test/scripts/testwasher.py
Due: e2e_deps, e2e

Service is not needed when node agent is disabled
  charts/datadog/templates/_helpers.tpl
Due: none

refacto: rename full-host-profiler to host-profiler
  charts/datadog/templates/_container-host-profiler.yaml
Due: none

[PROF-14062] Rename the profiler in the datadog-agent, helm, operator (#2568)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-host-profiler.yaml
Due: e2e_deps, e2e

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/datadog-values.yaml
Due: none

Update CloudPrem Helm chart to 0.2.5 (#2576)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/datadog-values.yaml
Due: none

Update CloudPrem Helm chart (#2577)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/datadog-values.yaml
Due: none

Adding PROXY and NOPROXY options
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Changing to correct template
  charts/datadog/templates/_containers-common-env.yaml
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  charts/observability-pipelines-worker/templates/_pod.tpl
  charts/observability-pipelines-worker/values.yaml
Due: e2e_deps, e2e

Removing formatting change in unchanged file
  charts/datadog/values.schema.json
Due: e2e

[datadog-operator] test operator PR script
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-crds] test pr automation
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogcsidrivers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-crds/update-crds.sh
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogcsidrivers.yaml
  crds/datadoghq.com_datadogmonitors.yaml
  crds/datadoghq.com_datadogslos.yaml
Due: none

[datadog-operator] 1.25.0-rc.3 test auto
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog-operator] Lint fixes for Datadog Operator Chart
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

fix false positive outcome in csi e2e test
  test/e2e/datadog/e2e_gke_autopilot_csi_test.go
Due: e2e_deps, e2e

bump csi version
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/values.yaml
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
