Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

discovery: add useSystemProbeLite config option
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/with-system-probe-lite-and-npm-values.yaml
  charts/datadog/ci/with-system-probe-lite-values.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Set gateway deployment type
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Gate deployment_type for older gateway image tags
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: none

[OTAGENT-901] Add liveness and readiness probes to OTel Agent Gateway
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fix versions
  charts/datadog/README.md
Due: e2e

[OTAGENT-901] Make OTel Agent Gateway liveness/readiness probes opt-in
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fix semvercompare
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: none

Enable remote configuration by default on cluster check runners
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[datadog-crds] Update CRDs for Operator v1.25.0-rc.1
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none

Inline RC check in deployment template instead of helper
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
Due: none

Bump chart to 3.186.0 and update baselines and docs
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
Due: e2e_deps, e2e

[OTAGENT-886] Set `deployment_type` for DDOT Gateway deployments (#2470)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: e2e_deps, e2e

fix(datadog): gate /etc/passwd and /etc/group mounts for Talos provider (#2448)
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/provider-talos-security-values.yaml
  charts/datadog/templates/_container-security-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  charts/datadog/templates/_helpers.tpl
Due: e2e_deps, e2e

[datadog-crds] Update CRDs for Operator v1.25.0-rc.1 (#2472)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
Due: none

Release Operator v1.25.0-rc.1
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[OTAGENT-901] Add liveness and readiness probes to OTel Agent Gateway (#2469)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Add automatic agent installation support to EKS add-on operator chart
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  charts/datadog-operator/values.yaml
  examples/datadog-operator/eks-addon-default-agent-config.yaml
Due: none

Extend registry migration auto mode to US5 (us5.datadoghq.com)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Extend registry migration auto mode to US5 (us5.datadoghq.com) (#2463)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

Release Operator v1.25.0-rc.1 (#2475)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Guard app secret substitution behind app key presence
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Only remove placeholder lines, not entire appSecret block
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Use namespace-scoped Role/RoleBinding for agent-install hook
  charts/datadog-operator/templates/agent-install-rbac.yaml
Due: none

Remove entire placeholder appSecret stanza when app key is unset
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Inline Python into single python3 -c to fix YAML block scalar
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Fix indentation of embedded Python in hook command block
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Add unit tests for agent-install hook feature
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Replace python3 with awk for appSecret block removal
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Scope appSecret removal to the stanza containing the placeholder
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Add awk execution tests for appSecret block-scoped removal
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Target a watched namespace for auto-created DatadogAgent
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Keep auto-installed DatadogAgent in release namespace
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e
