Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Fix PAR validation, identityFromExistingSecret, and node agent tests
  charts/datadog/templates/_container-private-action-runner.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

Bump chart version to 3.188.0
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

Remove node agent PAR Helm template validations
  charts/datadog/templates/_container-private-action-runner.yaml
  charts/datadog/templates/_helpers.tpl
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

update actionsAllowlist
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Fall back to operator SA when serviceAccount.create is false
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Bind installer RoleBinding to the active service account
  charts/datadog-operator/templates/agent-install-rbac.yaml
Due: none

Mount PAR ConfigMap at separate path to avoid EmptyDir conflict
  charts/datadog/templates/_container-private-action-runner.yaml
Due: none

update version
  charts/datadog/Chart.yaml
Due: e2e_deps, e2e

Bundle default agent config as ConfigMap for air-gapped clusters
  charts/datadog-operator/templates/agent-default-config.yaml
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Couple installer SA to rbac.create flag
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/templates/agent-install-rbac.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Reject installAgents when DatadogAgent controller is disabled
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Remove agentConfigUrl, always use bundled default config
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/NOTES.txt
  charts/datadog-operator/templates/agent-default-config.yaml
  charts/datadog-operator/templates/agent-install-job.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Move appSecret handling to template time, remove awk script
  charts/datadog-operator/templates/agent-default-config.yaml
  charts/datadog-operator/templates/agent-install-job.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Update example config comment to reflect bundled ConfigMap
  examples/datadog-operator/eks-addon-default-agent-config.yaml
Due: none

Skip DatadogAgent creation if it already exists
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Remove unused __DD_NAMESPACE__ placeholder substitution
  charts/datadog-operator/templates/agent-install-job.yaml
  examples/datadog-operator/eks-addon-default-agent-config.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Check for any existing DatadogAgent, not just one named datadog-agent
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

Include site and dd_url in bootstrap DatadogAgent config
  charts/datadog-operator/templates/agent-default-config.yaml
  test/datadog-operator/agent_install_test.go
Due: e2e_deps, e2e

Preserve full revision in installer Job name
  charts/datadog-operator/templates/agent-install-job.yaml
Due: none

[observability-pipelines-worker] 2.14.0 release (#2482)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Add validation, NOTES.txt, and restore identityFromExistingSecret support
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-private-action-runner.yaml
  charts/datadog/templates/_helpers.tpl
Due: none

Update CHANGELOG, README for node agent PAR support (3.189.0)
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
Due: e2e

Remove duplicate 3.188.0 CHANGELOG entry
  charts/datadog/CHANGELOG.md
Due: e2e

update CHANGELOG.md
  charts/datadog/CHANGELOG.md
Due: e2e

Extend registryMigrationMode auto to US1/US5 (DD_REGISTRY_OVERRIDE_DEFAULT) (#2483)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/templates/deployment.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Release Operator v1.25.0-rc.1 (#2475)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

make test-baseline
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

reapply: Release Operator v1.25.0-rc.1 (#2484)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Add checksum annotation for PAR configmap to trigger rollout on config change
  charts/datadog/templates/daemonset.yaml
Due: none

Remove k8s secret identity storage for node agent PAR
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/private-action-runner-configmap.yaml
  charts/datadog/templates/rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

Regenerate README with helm-docs
  charts/datadog/README.md
Due: e2e

Add warning in NOTES.txt when identityFromExistingSecret conflicts with inline credentials
  charts/datadog/templates/NOTES.txt
Due: none

add k8s event collection options
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/_kubernetes_apiserver_config.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

docs(datadog): add AI agent PR review guides
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  charts/datadog/docs/internal/agent-review-guide.md
  charts/datadog/docs/internal/gke-constraints-review-guide.md
Due: none

chore: reform CODEOWNERS to allow team self-approval for datadog chart
  .github/CODEOWNERS
  charts/datadog/docs/internal/agent-review-guide.md
Due: none

Revert CODEOWNERS changes — chart version bumps always require maintainer sign-off
  .github/CODEOWNERS
Due: none

docs(datadog): clarify version bump requirement in agent-review-guide
  charts/datadog/docs/internal/agent-review-guide.md
Due: none

docs(datadog): correct CODEOWNERS guidance in agent-review-guide
  charts/datadog/docs/internal/agent-review-guide.md
Due: none

ci: consolidate and tighten workflow path triggers
  .github/workflows/ci.yaml
  .github/workflows/go-test-datadog.yaml
  .github/workflows/no-ci.yaml
Due: none
