Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/templates/metastore-pdb.yaml
  charts/cloudprem/values.yaml
Due: none

gpum: add ftruncate system calls to system-probe seccomp (#2247)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
Due: e2e_deps, e2e

[EBPF-998] gpum: fix system-probe mounts (#2248)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_daemonset-volumes-linux.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
Due: e2e_deps, e2e

allow datadog.tags to convert the spaces to underscores for individual tags that contain spaces
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
Due: e2e_deps, e2e

changed the changelog wording
  charts/datadog/CHANGELOG.md
Due: e2e

disable monitors and dasboards controllers
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

bump operator chart dependency, update baselines
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

add autoInstrumentationContainerRegistry override
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update operator chart for v1.22.0-rc.1 tag
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update operator chart for v1.22.0-rc.1 tag (#2256)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

Fix typo
  charts/datadog/values.yaml
Due: e2e_deps, e2e

hacks
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogservicemonitors_v1.yaml
  charts/datadog-crds/update-crds.sh
  charts/datadog-crds/values.yaml
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/templates/clusterrole.yaml
  charts/datadog-operator/values.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  crds/datadoghq.com_datadogservicemonitors.yaml
Due: e2e_deps, e2e

Fix lock
  charts/datadog-operator/Chart.lock
Due: none

increase ct timeout
  .github/ct.yaml
Due: none

disable podautoscalers and datadog metrics crd
  .github/ct.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Remove RBAC grants when App & API Protection is not enabled
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-rbac.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

[SYNTH-23497] Bump PL to 1.63
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

[SYNTH-23497] Bump PL to 1.63 (#2261)
  charts/synthetics-private-location/CHANGELOG.md
  charts/synthetics-private-location/Chart.yaml
  charts/synthetics-private-location/README.md
  charts/synthetics-private-location/values.yaml
Due: none

Bugfix: Bump `datadog-csi-driver` dependency to version 0.4.4
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

Add updated resources
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagentprofiles_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogagents_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogdashboards_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadoggenericresources_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmetrics_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogmonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogpodautoscalers_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogservicemonitors_v1.yaml
  charts/datadog-crds/templates/datadoghq.com_datadogslos_v1.yaml
  charts/datadog-operator/templates/clusterrole.yaml
  crds/datadoghq.com_datadogagentinternals.yaml
  crds/datadoghq.com_datadogagentprofiles.yaml
  crds/datadoghq.com_datadogagents.yaml
  crds/datadoghq.com_datadogdashboards.yaml
  crds/datadoghq.com_datadoggenericresources.yaml
  crds/datadoghq.com_datadogmetrics.yaml
  crds/datadoghq.com_datadogmonitors.yaml
  crds/datadoghq.com_datadogpodautoscalers.yaml
  crds/datadoghq.com_datadogslos.yaml
Due: none

[CWS] add securityAgent.runtime.enforcement paramter
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

resolve merge conflicts
  charts/datadog/README.md
Due: e2e

deprecate-run-in-core-agent
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

fix deprecation notice
  charts/datadog/CHANGELOG.md
Due: e2e

fix deprecation notice
  charts/datadog/templates/NOTES.txt
Due: none

Add unit test
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

fix cm mount keys for the controlplane monitoring features
  charts/datadog/ci/cluster-agent-advanced-confd-values.yaml
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

Update datadog-csi-driver chart to support SSI
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
Due: none

Allow `datadog.tags` to convert the spaces in between the individual tags to underscores (#2254)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_components-common-env.yaml
Due: e2e_deps, e2e

feat: run the trace-loader process in trace-agent container if available
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_helpers.tpl
Due: none

fix cm mount keys for the controlplane monitoring features
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/confd_test.go
Due: e2e_deps, e2e

use release name for endpoint config
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/datadog-endpoint-configmap.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

omit `datadog` from cm name
  charts/datadog/templates/datadog-endpoint-configmap.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

fix(datadog-operator): lookup endpoint-config ConfigMap by exact name
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/templates/_helpers.tpl
Due: none

update changelog and baseline
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/README.md
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

fix(datadog-operator): lookup endpoint-config ConfigMap by exact name (#2269)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e
