Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

Set sending queue batch timeout to 10s
  charts/datadog/templates/_otel_agent_config.yaml
  examples/datadog/otel_collector_config.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

Use DD exporter's sending queue instead of the batch processor
  charts/datadog/templates/_otel_agent_config.yaml
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  examples/datadog/otel_collector_config.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

Use DD exporter's sending queue instead of the batch processor (#2263)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_config.yaml
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  examples/datadog/otel_collector_config.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

Update charts/datadog/CHANGELOG.md
  charts/datadog/CHANGELOG.md
Due: e2e

Fix DCA/CCR cluster-checks confd configMap volume (#2244)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/values/confd.yaml
  test/datadog/confd_test.go
Due: e2e_deps, e2e

update mapping
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
Due: e2e_deps, e2e

update go.mod, update baselines
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/go.mod
  test/go.sum
Due: e2e_deps, e2e

[AGTMETRICS-393] Update support for Agent Data Plane to 0.1.28.
  charts/datadog/README.md
  charts/datadog/templates/_container-agent-data-plane.yaml
  charts/datadog/templates/_container-agent.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/values/adp_enabled.yaml
Due: e2e_deps, e2e

update mapping
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
Due: none

[OTAGENT-681] Fix Prometheus internal metrics in DDOT's default config (#2277)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_config.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
Due: e2e_deps, e2e

update mapping, job
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/migration-job.yaml
Due: none

update baseline
  test/datadog/baseline/manifests/confd.yaml
Due: e2e_deps, e2e

[chore] fix a typo in DDOT gateway default config
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: none

changelog
  charts/datadog/CHANGELOG.md
Due: e2e

[chore] fix a typo in DDOT gateway default config (#2282)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: e2e_deps, e2e

bump chart version
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[chore] Remove an unreleased field from DDOT gateway default config
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_otel_agent_gateway_config.yaml
Due: e2e

support user-defined values.yaml in migration job
  charts/datadog/templates/migration-job.yaml
  charts/datadog/templates/migration-values-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[AGENTRUN-908] Run the trace-loader process in trace-agent container if available (#2267)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-trace-agent.yaml
  charts/datadog/templates/_helpers.tpl
Due: e2e_deps, e2e

bumped version
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

[OTAGENT-733] Fix DDOT image tag and config
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

migration-job improvements, and fixes
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/migration-job.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

update readme
  charts/datadog/README.md
Due: e2e

[CONTINT-4924] Support for wildcards in kind field in KSM RBAC (#2192)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
Due: e2e_deps, e2e

wip
  charts/test-chart/.helmignore
  charts/test-chart/Chart.lock
  charts/test-chart/Chart.yaml
  charts/test-chart/values.yaml
Due: none

wip
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog/requirements.yaml
  charts/datadog/templates/datadog-endpoint-configmap.yaml
Due: e2e_deps, e2e

[OTAGENT-733] Fix DDOT image tag and config (#2284)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_otel_agent_gateway_config.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update default Agent version to 7.74.0
  charts/datadog/README.md
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Update baseline tests
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

Update default Agent version to 7.74.0 (#2285)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp_enabled.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gdc_daemonset_default.yaml
  test/datadog/baseline/manifests/gdc_daemonset_logs_collection.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_kubelet_apiserver.yaml
  test/datadog/baseline/manifests/gke_autopilot_npm.yaml
  test/datadog/baseline/manifests/gke_autopilot_system_probe.yaml
  test/datadog/baseline/manifests/gke_autopilot_usm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/talos_linux_with_system_probe.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
Due: e2e_deps, e2e

[ACTP] release par chart 1.20
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

Adjust changelog
  charts/private-action-runner/CHANGELOG.md
Due: none

update crds for operator v1.22.0-rc.3
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/values.yaml
Due: none

update changelog
  charts/datadog-crds/CHANGELOG.md
Due: none

[BREAKING CHANGE] Update `datadogAgentInternal` -> `datadogAgentInternals` (#2287)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
  charts/datadog-crds/templates/datadoghq.com_datadogagentinternals_v1.yaml
  charts/datadog-crds/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update datadog-operator chart for 1.22.0-rc.3
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/values.yaml
Due: none

Update dependency lock and baselines
  charts/datadog-operator/Chart.lock
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
