Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

[datadog] Add namespace restriction support to kubernetes_state_core check (#2407)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/ksm-core-namespaces-values.yaml
  charts/datadog/templates/_kubernetes_state_core_config.yaml
  charts/datadog/templates/kube-state-metrics-core-rbac.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

re run update baseline
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Add RBAC for eks.amazonaws.com NodeClass CRD
  charts/datadog-operator/templates/clusterrole.yaml
Due: none

Update Operator RBACs
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Update Operator RBACs (#2411)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/clusterrole.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

make docs
  charts/datadog/README.md
Due: e2e

feat(release): Use dd-octo-sts
  .github/workflows/release-crds.yaml
  .github/workflows/release-operator.yaml
  .github/workflows/release.yaml
Due: none

Revert "Remove envvar ovveride for controlling whether process checks run in core or process agent" (#2402)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

Add dd-octo-sts trust policies for release workflows
  .github/chainguard/self.release-crds.create-release.sts.yaml
  .github/chainguard/self.release-operator.create-release.sts.yaml
  .github/chainguard/self.release.create-release.sts.yaml
Due: none

Dataog metrics enablement
  charts/datadog/values.yaml
Due: e2e_deps, e2e

refactored to clusterAgent.admissionController.autoInstrumentation.containerRegistry
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

update readme
  charts/datadog/README.md
Due: e2e

helm docs update (#2406)
  charts/datadog/values.yaml
Due: e2e_deps, e2e

bump par version
  charts/private-action-runner/CHANGELOG.md
  charts/private-action-runner/Chart.yaml
  charts/private-action-runner/README.md
  charts/private-action-runner/values.yaml
  test/private-action-runner/__snapshot__/config-overrides.yaml
  test/private-action-runner/__snapshot__/custom-pod-scheduling.yaml
  test/private-action-runner/__snapshot__/custom-resources.yaml
  test/private-action-runner/__snapshot__/default.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-annotations.yaml
  test/private-action-runner/__snapshot__/deployment-metadata-labels.yaml
  test/private-action-runner/__snapshot__/deployment-runner-annotations.yaml
  test/private-action-runner/__snapshot__/deprecated-modes.yaml
  test/private-action-runner/__snapshot__/enable-kubernetes-actions.yaml
  test/private-action-runner/__snapshot__/example.yaml
  test/private-action-runner/__snapshot__/external-secrets.yaml
  test/private-action-runner/__snapshot__/pod-annotations.yaml
  test/private-action-runner/__snapshot__/scc-enabled.yaml
  test/private-action-runner/__snapshot__/scripts-configuration.yaml
  test/private-action-runner/__snapshot__/service-annotations.yaml
Due: e2e_deps, e2e

remove unnecessary comments for deprecated autodiscovery configs in customAgentConfig
  charts/datadog/values.yaml
Due: e2e_deps, e2e

run helm-docs script
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

Support image_volume for apm.instrumentation.injectionMode (#2361)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/values.schema.json
  charts/datadog/values.yaml
  test/datadog/apm_instrumentation_test.go
  test/datadog/values/instrumentation/injection_mode_image_volume.yaml
Due: e2e_deps, e2e

Include Datadog Extension by default in daemon otel agents (#2408)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-otel-agent.yaml
Due: e2e_deps, e2e

[ACTP] Install the private action runner in the cluster agent via helm charts
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

enable remote config when PAR is enabled
  charts/datadog/templates/_helpers.tpl
Due: none

default self enroll to true
  charts/datadog/values.yaml
Due: e2e_deps, e2e

enable cluster agent in deploy
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

Revert "enable cluster agent in deploy"
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

use k8s secret
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

update doc link
  charts/datadog/templates/NOTES.txt
Due: none

PR feedbacks: config validation
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

regen docs
  charts/datadog/README.md
Due: e2e

add unittests
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

comma separated list
  charts/datadog/templates/cluster-agent-deployment.yaml
Due: none

fix build
  charts/datadog/templates/NOTES.txt
Due: none

rename to identityFromExistingSecret
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

[ACTP] Install the private action runner in the cluster agent via helm charts (#2395)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/templates/cluster-agent-rbac.yaml
  charts/datadog/values.yaml
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

Add dd-octo-sts trust policies for release workflows (#2412)
  .github/chainguard/self.release-crds.create-release.sts.yaml
  .github/chainguard/self.release-operator.create-release.sts.yaml
  .github/chainguard/self.release.create-release.sts.yaml
Due: none

fix
  charts/datadog/README.md
Due: e2e

Revert "helm docs update (#2406)"
  charts/datadog/values.yaml
Due: e2e_deps, e2e

[CNM] Add dnsMonitoringPorts to helm chart (#2342)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/system-probe-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
