Repository DataDog/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: e2e_deps, e2e

e2e_deps:
  stage: e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    KUBERNETES_CPU_REQUEST: 16
  script:
  ...

e2e:
  stage: e2e
  needs:
  - e2e_deps
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags:
  - arch:amd64
  variables:
    E2E_GCP_PUBLIC_KEY_PATH: /tmp/agent-qa-gcp-ssh-key.pub
    E2E_GCP_PRIVATE_KEY_PATH: /tmp/agent-qa-gcp-ssh-key
  ...

Update datadog-csi-driver chart dependency version to support configuring priorityClass on csi driver node server pods
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

Update datadog-csi-driver chart dependency version to support configuring priorityClass on csi driver node server pods (#2525)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/requirements.lock
  charts/datadog/requirements.yaml
Due: e2e_deps, e2e

Update index.yaml
  index.yaml
Due: none

[CXP-2639] Stop injecting DD_PROCESS_CONFIG_RUN_IN_CORE_AGENT_ENABLED for agents >= 7.78
  charts/datadog/CHANGELOG.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  charts/datadog/values.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

Update README badge and docs for version 3.198.0
  charts/datadog/README.md
Due: e2e

[CXP-2639] Remove run_in_core_agent envvar override and cleanup
  charts/datadog/CHANGELOG.md
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_logs.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

Bump chart version to 3.199.0
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
Due: e2e_deps, e2e

feat(obs-pipelines): update chart to use 2.14.1 app version (#2518)
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

fix(ci): add extractVersionFromChart helper to normalize Chart.yaml versions (#2521)
  .github/scripts/bump-chart-version.js
  .github/scripts/chart-version-utils.js
  .github/scripts/chart-version-utils.test.js
  .github/scripts/validate-chart-version.js
Due: none

feat(registry): re-enable registryMigrationMode: auto, exclude DD_ADMISSION_CONTROLLER_CONTAINER_REGISTRY from migration (#2511)
  charts/datadog/CHANGELOG.md
  charts/datadog/README.md
  charts/datadog/templates/cluster-agent-deployment.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.74.yaml
  test/datadog/baseline/manifests/adp-enabled-dsd-enabled-7.75.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/agent-workload_exclude.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_advanced_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_minimal_AC_injection.yaml
  test/datadog/baseline/manifests/cluster-agent-deployment_default_workload_exclude.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/daemonset_default.yaml
  test/datadog/baseline/manifests/default_all.yaml
  test/datadog/baseline/manifests/default_all_windows.yaml
  test/datadog/baseline/manifests/gpu_monitoring.yaml
  test/datadog/baseline/manifests/kube-state-metrics-custom-resources.yaml
  test/datadog/baseline/manifests/npm_daemonset_default.yaml
  test/datadog/baseline/manifests/otel-agent_config_ports.yaml
  test/datadog/baseline/manifests/otel-agent_configmap.yaml
  test/datadog/baseline/manifests/otel-agent_container_ports.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/otel-agent_logs_collection.yaml
  test/datadog/baseline/manifests/otel-agent_volume_mounts.yaml
  test/datadog/baseline/manifests/otel_enabled.yaml
  test/datadog/baseline/manifests/other_default.yaml
  test/datadog/baseline/manifests/registry_migration_ap1.yaml
  test/datadog/baseline/manifests/sbom_enabled.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/baseline/manifests/system_probe_daemonset_default.yaml
  test/datadog/baseline/manifests/usm_daemonset_default.yaml
  test/datadog/baseline/manifests/workload_protection.yaml
  test/datadog/baseline/manifests/workload_protection_direct_sender.yaml
  test/datadog/otel_agent_test.go
  test/datadog/registry_migration_test.go
Due: e2e_deps, e2e

[PAR] Add host mounts, NET_RAW capability, and restrictedShellAllowedPaths to node-agent PAR container (#2517)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_container-private-action-runner.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline_test.go
  test/datadog/private_action_runner_test.go
Due: e2e_deps, e2e

feat(datadog-csi-driver): add priorityClassName support for CSI driver (#2524)
  charts/datadog-csi-driver/CHANGELOG.md
  charts/datadog-csi-driver/Chart.yaml
  charts/datadog-csi-driver/README.md
  charts/datadog-csi-driver/templates/daemonset.yaml
  charts/datadog-csi-driver/values.yaml
Due: none

[CXP-2640] Remove run_in_core_agent envvar override and cleanup (#2520)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/files/mapping_datadog_helm_to_datadogagent_crd.yaml
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_processes-common-env.yaml
  charts/datadog/templates/agent-clusterchecks-deployment.yaml
  charts/datadog/templates/otel-agent-gateway-deployment.yaml
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/agent-clusterchecks-deployment_default.yaml
  test/datadog/baseline/manifests/confd.yaml
  test/datadog/baseline/manifests/gke_autopilot_allowlistedv2workload_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_apm.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_default.yaml
  test/datadog/baseline/manifests/gke_autopilot_workloadallowlist_logs.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/manifests/securityContextOverrides_allAgents.yaml
  test/datadog/process_agent_test.go
Due: e2e_deps, e2e

Set DD_OTELCOLLECTOR_INSTALLATION_METHOD=kubernetes on otel-agent container
  charts/datadog/templates/_container-otel-agent.yaml
Due: none

Update CloudPrem Helm chart
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/sizing-map.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/values.yaml
Due: none

Update CloudPrem Helm chart (#2532)
  charts/cloudprem/CHANGELOG.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/sizing-map.yaml
  charts/cloudprem/templates/_helpers.tpl
  charts/cloudprem/values.yaml
Due: none

allow MQ for profiling-full-host
  repository.datadog.yml
Due: none

allow MQ for profiling-full-host (#2533)
  repository.datadog.yml
Due: none

feat: rename hostprofiler receiver
  charts/datadog/templates/_host_profiler_config.yaml
Due: none

[PROF-14075] add profiling preset to upstream otel Helm config follow up (#2526)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/_host_profiler_config.yaml
Due: e2e_deps, e2e

Remove collector config from host profiler
  charts/datadog/templates/_container-host-profiler.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_host_profiler_config.yaml
  charts/datadog/templates/daemonset.yaml
  charts/datadog/templates/host-profiler-configmap.yaml
  charts/datadog/values.yaml
Due: e2e_deps, e2e

Instead of falling back to a non-fips version with a warning, fail with a clear error when an fips variant of ddot-collector or agent -full is requested
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_otel_agent_config.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/values/otel-agent_full.yaml
  test/datadog/baseline/values/otel-agent_full_fips.yaml
  test/datadog/baseline/values/otel-agent_gateway.yaml
  test/datadog/baseline/values/otel-agent_gateway_fips.yaml
Due: e2e_deps, e2e

Add tests for the DDOT FIPS tag checks
  test/datadog/fips_mode_test.go
  test/datadog/otel_agent_test.go
Due: e2e_deps, e2e

Review: take doNotCheckTag into account
  charts/datadog/templates/_helpers.tpl
Due: none

Mention the doNotChackTag escape hatches to check failures
  charts/datadog/templates/_helpers.tpl
Due: none

Release DatadogCRD Operator v1.25.0
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Due: none

DDOT FIPS with an incompatible version: fail instead of falling back to non-FIPS (#2527)
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/templates/NOTES.txt
  charts/datadog/templates/_helpers.tpl
  charts/datadog/templates/_otel_agent_config.yaml
  test/datadog/baseline/manifests/otel-agent_full.yaml
  test/datadog/baseline/manifests/otel-agent_full_fips.yaml
  test/datadog/baseline/manifests/otel-agent_gateway.yaml
  test/datadog/baseline/manifests/otel-agent_gateway_fips.yaml
  test/datadog/baseline/values/otel-agent_full.yaml
  test/datadog/baseline/values/otel-agent_full_fips.yaml
  test/datadog/baseline/values/otel-agent_gateway.yaml
  test/datadog/baseline/values/otel-agent_gateway_fips.yaml
  test/datadog/fips_mode_test.go
  test/datadog/otel_agent_test.go
Due: e2e_deps, e2e

Release DatadogCRD Operator v1.25.0 (#2536)
  charts/datadog-crds/CHANGELOG.md
  charts/datadog-crds/Chart.yaml
  charts/datadog-crds/README.md
Due: none

[datadog-operator] Release Operator v1.25.0
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

Changelog
  charts/datadog-operator/CHANGELOG.md
Due: none

[datadog-operator] Release Operator v1.25.0 (#2537)
  charts/datadog-operator/CHANGELOG.md
  charts/datadog-operator/Chart.lock
  charts/datadog-operator/Chart.yaml
  charts/datadog-operator/README.md
  charts/datadog-operator/templates/_helpers.tpl
  charts/datadog-operator/values.yaml
  test/datadog-operator/baseline/DatadogAgent_CRD_default.yaml
  test/datadog-operator/baseline/Operator_Deployment_default.yaml
  test/datadog-operator/operator_deployment_test.go
Due: e2e_deps, e2e

[datadog] Add system-probe-lite support for discovery
  charts/datadog/CHANGELOG.md
  charts/datadog/Chart.yaml
  charts/datadog/README.md
  charts/datadog/ci/discovery-off-values.yaml
  charts/datadog/ci/discovery-spl-enabled-by-default-values.yaml
  charts/datadog/ci/discovery-system-probe-lite-values.yaml
  charts/datadog/templates/_container-system-probe.yaml
  charts/datadog/templates/_helpers.tpl
  charts/datadog/values.yaml
  test/datadog/baseline/manifests/discovery_off.yaml
  test/datadog/baseline/manifests/discovery_spl_enabled_by_default.yaml
  test/datadog/baseline/manifests/discovery_spl_explicit.yaml
  test/datadog/baseline/values/discovery_off.yaml
  test/datadog/baseline/values/discovery_spl_enabled_by_default.yaml
  test/datadog/baseline/values/discovery_spl_explicit.yaml
  test/datadog/fips_mode_test.go
  test/datadog/gke_autopilot_workloadallowlist_test.go
  test/datadog/gke_gdc_test.go
  test/datadog/otel_agent_test.go
  test/datadog/private_action_runner_test.go
  test/datadog/registry_migration_test.go
  test/datadog/system_probe_command_test.go
Due: e2e_deps, e2e

[observability-pipelines-worker] 2.15.0 release
  charts/observability-pipelines-worker/CHANGELOG.md
  charts/observability-pipelines-worker/Chart.yaml
  charts/observability-pipelines-worker/README.md
  charts/observability-pipelines-worker/values.yaml
Due: none

Path conditions:
  e2e_deps: any of: charts/datadog/*.yaml, test/**/*
  e2e: (any of: charts/datadog/*.yaml, test/**/*) or (any of: charts/datadog/**, test/**/*)
